.THIS .forceContentFileCard{
    width:15rem !important;
}
.THIS .slds-theme_error  {
    display: none;
}
/*
.THIS .slds-vertical-tabs__nav-item{
    border-bottom: 1px solid rgb(232, 232, 232);
    background-color: white;
    color: rgb(62, 62, 60);
}

.THIS .slds-vertical-tabs__nav-item.slds-is-active .slds-vertical-tabs__link{
    background: rgb(255, 255, 255);
    color: #1b5297;
    font-weight: bold;
    text-decoration: underline;
    font-size: 15px;
    text-decoration-color: #1b5297;
}
*/