.THIS
	.hr-margin {
		margin-top: 5px !important;
		margin-bottom: 5px !important;
	}
.THIS
	.hr-margin2 {
		margin-top: 15px !important;
		margin-bottom: 15px !important;
	}

.THIS
	.hr-style {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
	}

.THIS lightning-icon.green-indicator > lightning-primitive-icon > svg > use {
	fill: green;
}