@font-face {
  font-family: 'Defaults';
  src: url('Defaults.eot?orgId=00D36000000aaMR&orgId=00Dm0000000DQSA');
  src: url('Defaults.eot?orgId=00D36000000aaMR&orgId=00Dm0000000DQSA') format('embedded-opentype'), url('Defaults.woff?orgId=00D36000000aaMR&orgId=00Dm0000000DQSA') format('woff'), url('Defaults.ttf?orgId=00D36000000aaMR&orgId=00Dm0000000DQSA') format('truetype'), url('Defaults.svg?orgId=00D36000000aaMR&orgId=00Dm0000000DQSA') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class*=Defaults-] {
  font-family: 'Defaults';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Defaults-glass:before {
  content: "\f000";
}

.Defaults-music:before {
  content: "\f001";
}

.Defaults-search:before {
  content: "\f002";
}

.Defaults-envelope-o:before {
  content: "\f003";
}

.Defaults-heart:before {
  content: "\f004";
}

.Defaults-star:before {
  content: "\f005";
}

.Defaults-star-o:before {
  content: "\f006";
}

.Defaults-user:before {
  content: "\f007";
}

.Defaults-film:before {
  content: "\f008";
}

.Defaults-th-large:before {
  content: "\f009";
}

.Defaults-th:before {
  content: "\f00a";
}

.Defaults-th-list:before {
  content: "\f00b";
}

.Defaults-check:before {
  content: "\f00c";
}

.Defaults-close:before {
  content: "\f00d";
}

.Defaults-search-plus:before {
  content: "\f00e";
}

.Defaults-search-minus:before {
  content: "\f010";
}

.Defaults-power-off:before {
  content: "\f011";
}

.Defaults-signal:before {
  content: "\f012";
}

.Defaults-cog:before {
  content: "\f013";
}

.Defaults-trash-o:before {
  content: "\f014";
}

.Defaults-home:before {
  content: "\f015";
}

.Defaults-file-o:before {
  content: "\f016";
}

.Defaults-clock-o:before {
  content: "\f017";
}

.Defaults-road:before {
  content: "\f018";
}

.Defaults-download:before {
  content: "\f019";
}

.Defaults-arrow-circle-o-down:before {
  content: "\f01a";
}

.Defaults-arrow-circle-o-up:before {
  content: "\f01b";
}

.Defaults-inbox:before {
  content: "\f01c";
}

.Defaults-play-circle-o:before {
  content: "\f01d";
}

.Defaults-repeat:before {
  content: "\f01e";
}

.Defaults-refresh:before {
  content: "\f021";
}

.Defaults-list-alt:before {
  content: "\f022";
}

.Defaults-lock:before {
  content: "\f023";
}

.Defaults-flag:before {
  content: "\f024";
}

.Defaults-headphones:before {
  content: "\f025";
}

.Defaults-volume-off:before {
  content: "\f026";
}

.Defaults-volume-down:before {
  content: "\f027";
}

.Defaults-volume-up:before {
  content: "\f028";
}

.Defaults-qrcode:before {
  content: "\f029";
}

.Defaults-barcode:before {
  content: "\f02a";
}

.Defaults-tag:before {
  content: "\f02b";
}

.Defaults-tags:before {
  content: "\f02c";
}

.Defaults-book:before {
  content: "\f02d";
}

.Defaults-bookmark:before {
  content: "\f02e";
}

.Defaults-print:before {
  content: "\f02f";
}

.Defaults-camera:before {
  content: "\f030";
}

.Defaults-font:before {
  content: "\f031";
}

.Defaults-bold:before {
  content: "\f032";
}

.Defaults-italic:before {
  content: "\f033";
}

.Defaults-text-height:before {
  content: "\f034";
}

.Defaults-text-width:before {
  content: "\f035";
}

.Defaults-align-left:before {
  content: "\f036";
}

.Defaults-align-center:before {
  content: "\f037";
}

.Defaults-align-right:before {
  content: "\f038";
}

.Defaults-align-justify:before {
  content: "\f039";
}

.Defaults-list:before {
  content: "\f03a";
}

.Defaults-dedent:before {
  content: "\f03b";
}

.Defaults-indent:before {
  content: "\f03c";
}

.Defaults-video-camera:before {
  content: "\f03d";
}

.Defaults-image:before {
  content: "\f03e";
}

.Defaults-pencil:before {
  content: "\f040";
}

.Defaults-map-marker:before {
  content: "\f041";
}

.Defaults-adjust:before {
  content: "\f042";
}

.Defaults-tint:before {
  content: "\f043";
}

.Defaults-edit:before {
  content: "\f044";
}

.Defaults-share-square-o:before {
  content: "\f045";
}

.Defaults-check-square-o:before {
  content: "\f046";
}

.Defaults-arrows:before {
  content: "\f047";
}

.Defaults-step-backward:before {
  content: "\f048";
}

.Defaults-fast-backward:before {
  content: "\f049";
}

.Defaults-backward:before {
  content: "\f04a";
}

.Defaults-play:before {
  content: "\f04b";
}

.Defaults-pause:before {
  content: "\f04c";
}

.Defaults-stop:before {
  content: "\f04d";
}

.Defaults-forward:before {
  content: "\f04e";
}

.Defaults-fast-forward:before {
  content: "\f050";
}

.Defaults-step-forward:before {
  content: "\f051";
}

.Defaults-eject:before {
  content: "\f052";
}

.Defaults-chevron-left:before {
  content: "\f053";
}

.Defaults-chevron-right:before {
  content: "\f054";
}

.Defaults-plus-circle:before {
  content: "\f055";
}

.Defaults-minus-circle:before {
  content: "\f056";
}

.Defaults-times-circle:before {
  content: "\f057";
}

.Defaults-check-circle:before {
  content: "\f058";
}

.Defaults-question-circle:before {
  content: "\f059";
}

.Defaults-info-circle:before {
  content: "\f05a";
}

.Defaults-crosshairs:before {
  content: "\f05b";
}

.Defaults-times-circle-o:before {
  content: "\f05c";
}

.Defaults-check-circle-o:before {
  content: "\f05d";
}

.Defaults-ban:before {
  content: "\f05e";
}

.Defaults-arrow-left:before {
  content: "\f060";
}

.Defaults-arrow-right:before {
  content: "\f061";
}

.Defaults-arrow-up:before {
  content: "\f062";
}

.Defaults-arrow-down:before {
  content: "\f063";
}

.Defaults-mail-forward:before {
  content: "\f064";
}

.Defaults-expand:before {
  content: "\f065";
}

.Defaults-compress:before {
  content: "\f066";
}

.Defaults-plus:before {
  content: "\f067";
}

.Defaults-minus:before {
  content: "\f068";
}

.Defaults-asterisk:before {
  content: "\f069";
}

.Defaults-exclamation-circle:before {
  content: "\f06a";
}

.Defaults-gift:before {
  content: "\f06b";
}

.Defaults-leaf:before {
  content: "\f06c";
}

.Defaults-fire:before {
  content: "\f06d";
}

.Defaults-eye:before {
  content: "\f06e";
}

.Defaults-eye-slash:before {
  content: "\f070";
}

.Defaults-exclamation-triangle:before {
  content: "\f071";
}

.Defaults-plane:before {
  content: "\f072";
}

.Defaults-calendar:before {
  content: "\f073";
}

.Defaults-random:before {
  content: "\f074";
}

.Defaults-comment:before {
  content: "\f075";
}

.Defaults-magnet:before {
  content: "\f076";
}

.Defaults-chevron-up:before {
  content: "\f077";
}

.Defaults-chevron-down:before {
  content: "\f078";
}

.Defaults-retweet:before {
  content: "\f079";
}

.Defaults-shopping-cart:before {
  content: "\f07a";
}

.Defaults-folder:before {
  content: "\f07b";
}

.Defaults-folder-open:before {
  content: "\f07c";
}

.Defaults-arrows-v:before {
  content: "\f07d";
}

.Defaults-arrows-h:before {
  content: "\f07e";
}

.Defaults-bar-chart:before {
  content: "\f080";
}

.Defaults-twitter-square:before {
  content: "\f081";
}

.Defaults-facebook-square:before {
  content: "\f082";
}

.Defaults-camera-retro:before {
  content: "\f083";
}

.Defaults-key:before {
  content: "\f084";
}

.Defaults-cogs:before {
  content: "\f085";
}

.Defaults-comments:before {
  content: "\f086";
}

.Defaults-thumbs-o-up:before {
  content: "\f087";
}

.Defaults-thumbs-o-down:before {
  content: "\f088";
}

.Defaults-star-half:before {
  content: "\f089";
}

.Defaults-heart-o:before {
  content: "\f08a";
}

.Defaults-sign-out:before {
  content: "\f08b";
}

.Defaults-linkedin-square:before {
  content: "\f08c";
}

.Defaults-thumb-tack:before {
  content: "\f08d";
}

.Defaults-external-link:before {
  content: "\f08e";
}

.Defaults-sign-in:before {
  content: "\f090";
}

.Defaults-trophy:before {
  content: "\f091";
}

.Defaults-github-square:before {
  content: "\f092";
}

.Defaults-upload:before {
  content: "\f093";
}

.Defaults-lemon-o:before {
  content: "\f094";
}

.Defaults-phone:before {
  content: "\f095";
}

.Defaults-square-o:before {
  content: "\f096";
}

.Defaults-bookmark-o:before {
  content: "\f097";
}

.Defaults-phone-square:before {
  content: "\f098";
}

.Defaults-twitter:before {
  content: "\f099";
}

.Defaults-facebook:before {
  content: "\f09a";
}

.Defaults-github:before {
  content: "\f09b";
}

.Defaults-unlock:before {
  content: "\f09c";
}

.Defaults-credit-card:before {
  content: "\f09d";
}

.Defaults-rss:before {
  content: "\f09e";
}

.Defaults-hdd-o:before {
  content: "\f0a0";
}

.Defaults-bullhorn:before {
  content: "\f0a1";
}

.Defaults-bell-o:before {
  content: "\f0a2";
}

.Defaults-certificate:before {
  content: "\f0a3";
}

.Defaults-hand-o-right:before {
  content: "\f0a4";
}

.Defaults-hand-o-left:before {
  content: "\f0a5";
}

.Defaults-hand-o-up:before {
  content: "\f0a6";
}

.Defaults-hand-o-down:before {
  content: "\f0a7";
}

.Defaults-arrow-circle-left:before {
  content: "\f0a8";
}

.Defaults-arrow-circle-right:before {
  content: "\f0a9";
}

.Defaults-arrow-circle-up:before {
  content: "\f0aa";
}

.Defaults-arrow-circle-down:before {
  content: "\f0ab";
}

.Defaults-globe:before {
  content: "\f0ac";
}

.Defaults-wrench:before {
  content: "\f0ad";
}

.Defaults-tasks:before {
  content: "\f0ae";
}

.Defaults-filter:before {
  content: "\f0b0";
}

.Defaults-briefcase:before {
  content: "\f0b1";
}

.Defaults-arrows-alt:before {
  content: "\f0b2";
}

.Defaults-group:before {
  content: "\f0c0";
}

.Defaults-chain:before {
  content: "\f0c1";
}

.Defaults-cloud:before {
  content: "\f0c2";
}

.Defaults-flask:before {
  content: "\f0c3";
}

.Defaults-cut:before {
  content: "\f0c4";
}

.Defaults-copy:before {
  content: "\f0c5";
}

.Defaults-paperclip:before {
  content: "\f0c6";
}

.Defaults-floppy-o:before {
  content: "\f0c7";
}

.Defaults-square:before {
  content: "\f0c8";
}

.Defaults-bars:before {
  content: "\f0c9";
}

.Defaults-list-ul:before {
  content: "\f0ca";
}

.Defaults-list-ol:before {
  content: "\f0cb";
}

.Defaults-strikethrough:before {
  content: "\f0cc";
}

.Defaults-underline:before {
  content: "\f0cd";
}

.Defaults-table:before {
  content: "\f0ce";
}

.Defaults-magic:before {
  content: "\f0d0";
}

.Defaults-truck:before {
  content: "\f0d1";
}

.Defaults-pinterest:before {
  content: "\f0d2";
}

.Defaults-pinterest-square:before {
  content: "\f0d3";
}

.Defaults-google-plus-square:before {
  content: "\f0d4";
}

.Defaults-google-plus:before {
  content: "\f0d5";
}

.Defaults-money:before {
  content: "\f0d6";
}

.Defaults-caret-down:before {
  content: "\f0d7";
}

.Defaults-caret-up:before {
  content: "\f0d8";
}

.Defaults-caret-left:before {
  content: "\f0d9";
}

.Defaults-caret-right:before {
  content: "\f0da";
}

.Defaults-columns:before {
  content: "\f0db";
}

.Defaults-sort:before {
  content: "\f0dc";
}

.Defaults-sort-desc:before {
  content: "\f0dd";
}

.Defaults-sort-asc:before {
  content: "\f0de";
}

.Defaults-envelope:before {
  content: "\f0e0";
}

.Defaults-linkedin:before {
  content: "\f0e1";
}

.Defaults-rotate-left:before {
  content: "\f0e2";
}

.Defaults-gavel:before {
  content: "\f0e3";
}

.Defaults-dashboard:before {
  content: "\f0e4";
}

.Defaults-comment-o:before {
  content: "\f0e5";
}

.Defaults-comments-o:before {
  content: "\f0e6";
}

.Defaults-bolt:before {
  content: "\f0e7";
}

.Defaults-sitemap:before {
  content: "\f0e8";
}

.Defaults-umbrella:before {
  content: "\f0e9";
}

.Defaults-clipboard:before {
  content: "\f0ea";
}

.Defaults-lightbulb-o:before {
  content: "\f0eb";
}

.Defaults-exchange:before {
  content: "\f0ec";
}

.Defaults-cloud-download:before {
  content: "\f0ed";
}

.Defaults-cloud-upload:before {
  content: "\f0ee";
}

.Defaults-user-md:before {
  content: "\f0f0";
}

.Defaults-stethoscope:before {
  content: "\f0f1";
}

.Defaults-suitcase:before {
  content: "\f0f2";
}

.Defaults-bell:before {
  content: "\f0f3";
}

.Defaults-coffee:before {
  content: "\f0f4";
}

.Defaults-cutlery:before {
  content: "\f0f5";
}

.Defaults-file-text-o:before {
  content: "\f0f6";
}

.Defaults-building-o:before {
  content: "\f0f7";
}

.Defaults-hospital-o:before {
  content: "\f0f8";
}

.Defaults-ambulance:before {
  content: "\f0f9";
}

.Defaults-medkit:before {
  content: "\f0fa";
}

.Defaults-fighter-jet:before {
  content: "\f0fb";
}

.Defaults-beer:before {
  content: "\f0fc";
}

.Defaults-h-square:before {
  content: "\f0fd";
}

.Defaults-plus-square:before {
  content: "\f0fe";
}

.Defaults-angle-double-left:before {
  content: "\f100";
}

.Defaults-angle-double-right:before {
  content: "\f101";
}

.Defaults-angle-double-up:before {
  content: "\f102";
}

.Defaults-angle-double-down:before {
  content: "\f103";
}

.Defaults-angle-left:before {
  content: "\f104";
}

.Defaults-angle-right:before {
  content: "\f105";
}

.Defaults-angle-up:before {
  content: "\f106";
}

.Defaults-angle-down:before {
  content: "\f107";
}

.Defaults-desktop:before {
  content: "\f108";
}

.Defaults-laptop:before {
  content: "\f109";
}

.Defaults-tablet:before {
  content: "\f10a";
}

.Defaults-mobile:before {
  content: "\f10b";
}

.Defaults-circle-o:before {
  content: "\f10c";
}

.Defaults-quote-left:before {
  content: "\f10d";
}

.Defaults-quote-right:before {
  content: "\f10e";
}

.Defaults-spinner:before {
  content: "\f110";
}

.Defaults-circle:before {
  content: "\f111";
}

.Defaults-mail-reply:before {
  content: "\f112";
}

.Defaults-github-alt:before {
  content: "\f113";
}

.Defaults-folder-o:before {
  content: "\f114";
}

.Defaults-folder-open-o:before {
  content: "\f115";
}

.Defaults-smile-o:before {
  content: "\f118";
}

.Defaults-frown-o:before {
  content: "\f119";
}

.Defaults-meh-o:before {
  content: "\f11a";
}

.Defaults-gamepad:before {
  content: "\f11b";
}

.Defaults-keyboard-o:before {
  content: "\f11c";
}

.Defaults-flag-o:before {
  content: "\f11d";
}

.Defaults-flag-checkered:before {
  content: "\f11e";
}

.Defaults-terminal:before {
  content: "\f120";
}

.Defaults-code:before {
  content: "\f121";
}

.Defaults-mail-reply-all:before {
  content: "\f122";
}

.Defaults-star-half-empty:before {
  content: "\f123";
}

.Defaults-location-arrow:before {
  content: "\f124";
}

.Defaults-crop:before {
  content: "\f125";
}

.Defaults-code-fork:before {
  content: "\f126";
}

.Defaults-chain-broken:before {
  content: "\f127";
}

.Defaults-question:before {
  content: "\f128";
}

.Defaults-info:before {
  content: "\f129";
}

.Defaults-exclamation:before {
  content: "\f12a";
}

.Defaults-superscript:before {
  content: "\f12b";
}

.Defaults-subscript:before {
  content: "\f12c";
}

.Defaults-eraser:before {
  content: "\f12d";
}

.Defaults-puzzle-piece:before {
  content: "\f12e";
}

.Defaults-microphone:before {
  content: "\f130";
}

.Defaults-microphone-slash:before {
  content: "\f131";
}

.Defaults-shield:before {
  content: "\f132";
}

.Defaults-calendar-o:before {
  content: "\f133";
}

.Defaults-fire-extinguisher:before {
  content: "\f134";
}

.Defaults-rocket:before {
  content: "\f135";
}

.Defaults-maxcdn:before {
  content: "\f136";
}

.Defaults-chevron-circle-left:before {
  content: "\f137";
}

.Defaults-chevron-circle-right:before {
  content: "\f138";
}

.Defaults-chevron-circle-up:before {
  content: "\f139";
}

.Defaults-chevron-circle-down:before {
  content: "\f13a";
}

.Defaults-html5:before {
  content: "\f13b";
}

.Defaults-css3:before {
  content: "\f13c";
}

.Defaults-anchor:before {
  content: "\f13d";
}

.Defaults-unlock-alt:before {
  content: "\f13e";
}

.Defaults-bullseye:before {
  content: "\f140";
}

.Defaults-ellipsis-h:before {
  content: "\f141";
}

.Defaults-ellipsis-v:before {
  content: "\f142";
}

.Defaults-rss-square:before {
  content: "\f143";
}

.Defaults-play-circle:before {
  content: "\f144";
}

.Defaults-ticket:before {
  content: "\f145";
}

.Defaults-minus-square:before {
  content: "\f146";
}

.Defaults-minus-square-o:before {
  content: "\f147";
}

.Defaults-level-up:before {
  content: "\f148";
}

.Defaults-level-down:before {
  content: "\f149";
}

.Defaults-check-square:before {
  content: "\f14a";
}

.Defaults-pencil-square:before {
  content: "\f14b";
}

.Defaults-external-link-square:before {
  content: "\f14c";
}

.Defaults-share-square:before {
  content: "\f14d";
}

.Defaults-compass:before {
  content: "\f14e";
}

.Defaults-caret-square-o-down:before {
  content: "\f150";
}

.Defaults-caret-square-o-up:before {
  content: "\f151";
}

.Defaults-caret-square-o-right:before {
  content: "\f152";
}

.Defaults-eur:before {
  content: "\f153";
}

.Defaults-gbp:before {
  content: "\f154";
}

.Defaults-dollar:before {
  content: "\f155";
}

.Defaults-inr:before {
  content: "\f156";
}

.Defaults-cny:before {
  content: "\f157";
}

.Defaults-rouble:before {
  content: "\f158";
}

.Defaults-krw:before {
  content: "\f159";
}

.Defaults-bitcoin:before {
  content: "\f15a";
}

.Defaults-file:before {
  content: "\f15b";
}

.Defaults-file-text:before {
  content: "\f15c";
}

.Defaults-sort-alpha-asc:before {
  content: "\f15d";
}

.Defaults-sort-alpha-desc:before {
  content: "\f15e";
}

.Defaults-sort-amount-asc:before {
  content: "\f160";
}

.Defaults-sort-amount-desc:before {
  content: "\f161";
}

.Defaults-sort-numeric-asc:before {
  content: "\f162";
}

.Defaults-sort-numeric-desc:before {
  content: "\f163";
}

.Defaults-thumbs-up:before {
  content: "\f164";
}

.Defaults-thumbs-down:before {
  content: "\f165";
}

.Defaults-youtube-square:before {
  content: "\f166";
}

.Defaults-youtube:before {
  content: "\f167";
}

.Defaults-xing:before {
  content: "\f168";
}

.Defaults-xing-square:before {
  content: "\f169";
}

.Defaults-youtube-play:before {
  content: "\f16a";
}

.Defaults-dropbox:before {
  content: "\f16b";
}

.Defaults-stack-overflow:before {
  content: "\f16c";
}

.Defaults-instagram:before {
  content: "\f16d";
}

.Defaults-flickr:before {
  content: "\f16e";
}

.Defaults-adn:before {
  content: "\f170";
}

.Defaults-bitbucket:before {
  content: "\f171";
}

.Defaults-bitbucket-square:before {
  content: "\f172";
}

.Defaults-tumblr:before {
  content: "\f173";
}

.Defaults-tumblr-square:before {
  content: "\f174";
}

.Defaults-long-arrow-down:before {
  content: "\f175";
}

.Defaults-long-arrow-up:before {
  content: "\f176";
}

.Defaults-long-arrow-left:before {
  content: "\f177";
}

.Defaults-long-arrow-right:before {
  content: "\f178";
}

.Defaults-apple:before {
  content: "\f179";
}

.Defaults-windows:before {
  content: "\f17a";
}

.Defaults-android:before {
  content: "\f17b";
}

.Defaults-linux:before {
  content: "\f17c";
}

.Defaults-dribbble:before {
  content: "\f17d";
}

.Defaults-skype:before {
  content: "\f17e";
}

.Defaults-foursquare:before {
  content: "\f180";
}

.Defaults-trello:before {
  content: "\f181";
}

.Defaults-female:before {
  content: "\f182";
}

.Defaults-male:before {
  content: "\f183";
}

.Defaults-gittip:before {
  content: "\f184";
}

.Defaults-sun-o:before {
  content: "\f185";
}

.Defaults-moon-o:before {
  content: "\f186";
}

.Defaults-archive:before {
  content: "\f187";
}

.Defaults-bug:before {
  content: "\f188";
}

.Defaults-vk:before {
  content: "\f189";
}

.Defaults-weibo:before {
  content: "\f18a";
}

.Defaults-renren:before {
  content: "\f18b";
}

.Defaults-pagelines:before {
  content: "\f18c";
}

.Defaults-stack-exchange:before {
  content: "\f18d";
}

.Defaults-arrow-circle-o-right:before {
  content: "\f18e";
}

.Defaults-arrow-circle-o-left:before {
  content: "\f190";
}

.Defaults-caret-square-o-left:before {
  content: "\f191";
}

.Defaults-dot-circle-o:before {
  content: "\f192";
}

.Defaults-wheelchair:before {
  content: "\f193";
}

.Defaults-vimeo-square:before {
  content: "\f194";
}

.Defaults-try:before {
  content: "\f195";
}

.Defaults-plus-square-o:before {
  content: "\f196";
}

.Defaults-space-shuttle:before {
  content: "\f197";
}

.Defaults-slack:before {
  content: "\f198";
}

.Defaults-envelope-square:before {
  content: "\f199";
}

.Defaults-wordpress:before {
  content: "\f19a";
}

.Defaults-openid:before {
  content: "\f19b";
}

.Defaults-bank:before {
  content: "\f19c";
}

.Defaults-graduation-cap:before {
  content: "\f19d";
}

.Defaults-yahoo:before {
  content: "\f19e";
}

.Defaults-google:before {
  content: "\f1a0";
}

.Defaults-reddit:before {
  content: "\f1a1";
}

.Defaults-reddit-square:before {
  content: "\f1a2";
}

.Defaults-stumbleupon-circle:before {
  content: "\f1a3";
}

.Defaults-stumbleupon:before {
  content: "\f1a4";
}

.Defaults-delicious:before {
  content: "\f1a5";
}

.Defaults-digg:before {
  content: "\f1a6";
}

.Defaults-pied-piper:before {
  content: "\f1a7";
}

.Defaults-pied-piper-alt:before {
  content: "\f1a8";
}

.Defaults-drupal:before {
  content: "\f1a9";
}

.Defaults-joomla:before {
  content: "\f1aa";
}

.Defaults-language:before {
  content: "\f1ab";
}

.Defaults-fax:before {
  content: "\f1ac";
}

.Defaults-building:before {
  content: "\f1ad";
}

.Defaults-child:before {
  content: "\f1ae";
}

.Defaults-paw:before {
  content: "\f1b0";
}

.Defaults-spoon:before {
  content: "\f1b1";
}

.Defaults-cube:before {
  content: "\f1b2";
}

.Defaults-cubes:before {
  content: "\f1b3";
}

.Defaults-behance:before {
  content: "\f1b4";
}

.Defaults-behance-square:before {
  content: "\f1b5";
}

.Defaults-steam:before {
  content: "\f1b6";
}

.Defaults-steam-square:before {
  content: "\f1b7";
}

.Defaults-recycle:before {
  content: "\f1b8";
}

.Defaults-automobile:before {
  content: "\f1b9";
}

.Defaults-cab:before {
  content: "\f1ba";
}

.Defaults-tree:before {
  content: "\f1bb";
}

.Defaults-spotify:before {
  content: "\f1bc";
}

.Defaults-deviantart:before {
  content: "\f1bd";
}

.Defaults-soundcloud:before {
  content: "\f1be";
}

.Defaults-database:before {
  content: "\f1c0";
}

.Defaults-file-pdf-o:before {
  content: "\f1c1";
}

.Defaults-file-word-o:before {
  content: "\f1c2";
}

.Defaults-file-excel-o:before {
  content: "\f1c3";
}

.Defaults-file-powerpoint-o:before {
  content: "\f1c4";
}

.Defaults-file-image-o:before {
  content: "\f1c5";
}

.Defaults-file-archive-o:before {
  content: "\f1c6";
}

.Defaults-file-audio-o:before {
  content: "\f1c7";
}

.Defaults-file-movie-o:before {
  content: "\f1c8";
}

.Defaults-file-code-o:before {
  content: "\f1c9";
}

.Defaults-vine:before {
  content: "\f1ca";
}

.Defaults-codepen:before {
  content: "\f1cb";
}

.Defaults-jsfiddle:before {
  content: "\f1cc";
}

.Defaults-life-bouy:before {
  content: "\f1cd";
}

.Defaults-circle-o-notch:before {
  content: "\f1ce";
}

.Defaults-ra:before {
  content: "\f1d0";
}

.Defaults-empire:before {
  content: "\f1d1";
}

.Defaults-git-square:before {
  content: "\f1d2";
}

.Defaults-git:before {
  content: "\f1d3";
}

.Defaults-hacker-news:before {
  content: "\f1d4";
}

.Defaults-tencent-weibo:before {
  content: "\f1d5";
}

.Defaults-qq:before {
  content: "\f1d6";
}

.Defaults-wechat:before {
  content: "\f1d7";
}

.Defaults-paper-plane:before {
  content: "\f1d8";
}

.Defaults-paper-plane-o:before {
  content: "\f1d9";
}

.Defaults-history:before {
  content: "\f1da";
}

.Defaults-circle-thin:before {
  content: "\f1db";
}

.Defaults-header:before {
  content: "\f1dc";
}

.Defaults-paragraph:before {
  content: "\f1dd";
}

.Defaults-sliders:before {
  content: "\f1de";
}

.Defaults-share-alt:before {
  content: "\f1e0";
}

.Defaults-share-alt-square:before {
  content: "\f1e1";
}

.Defaults-bomb:before {
  content: "\f1e2";
}

.Defaults-futbol-o:before {
  content: "\f1e3";
}

.Defaults-tty:before {
  content: "\f1e4";
}

.Defaults-binoculars:before {
  content: "\f1e5";
}

.Defaults-plug:before {
  content: "\f1e6";
}

.Defaults-slideshare:before {
  content: "\f1e7";
}

.Defaults-twitch:before {
  content: "\f1e8";
}

.Defaults-yelp:before {
  content: "\f1e9";
}

.Defaults-newspaper-o:before {
  content: "\f1ea";
}

.Defaults-wifi:before {
  content: "\f1eb";
}

.Defaults-calculator:before {
  content: "\f1ec";
}

.Defaults-paypal:before {
  content: "\f1ed";
}

.Defaults-google-wallet:before {
  content: "\f1ee";
}

.Defaults-cc-visa:before {
  content: "\f1f0";
}

.Defaults-cc-mastercard:before {
  content: "\f1f1";
}

.Defaults-cc-discover:before {
  content: "\f1f2";
}

.Defaults-cc-amex:before {
  content: "\f1f3";
}

.Defaults-cc-paypal:before {
  content: "\f1f4";
}

.Defaults-cc-stripe:before {
  content: "\f1f5";
}

.Defaults-bell-slash:before {
  content: "\f1f6";
}

.Defaults-bell-slash-o:before {
  content: "\f1f7";
}

.Defaults-trash:before {
  content: "\f1f8";
}

.Defaults-copyright:before {
  content: "\f1f9";
}

.Defaults-at:before {
  content: "\f1fa";
}

.Defaults-eyedropper:before {
  content: "\f1fb";
}

.Defaults-paint-brush:before {
  content: "\f1fc";
}

.Defaults-birthday-cake:before {
  content: "\f1fd";
}

.Defaults-area-chart:before {
  content: "\f1fe";
}

.Defaults-pie-chart:before {
  content: "\f200";
}

.Defaults-line-chart:before {
  content: "\f201";
}

.Defaults-lastfm:before {
  content: "\f202";
}

.Defaults-lastfm-square:before {
  content: "\f203";
}

.Defaults-toggle-off:before {
  content: "\f204";
}

.Defaults-toggle-on:before {
  content: "\f205";
}

.Defaults-bicycle:before {
  content: "\f206";
}

.Defaults-bus:before {
  content: "\f207";
}

.Defaults-ioxhost:before {
  content: "\f208";
}

.Defaults-angellist:before {
  content: "\f209";
}

.Defaults-cc:before {
  content: "\f20a";
}

.Defaults-ils:before {
  content: "\f20b";
}

.Defaults-meanpath:before {
  content: "\f20c";
}