/*
	Theme Name: Estilos sitio Modeloramas
		captura de información para Empresarios
*/

	p.question {
    	color: #294f98;
    	font-weight: bold;
    	font-style: italic;
    	text-transform: uppercase;
    	font-size: 27px;
    	line-height: 30px;    	
	}
	p.subtitle{
		font-weight: bold;
    	text-transform: uppercase;
		line-height: 22px;
    	font-size: 16px;
	}
	p.extra {
    	color: #7c8e9a;
	    font-family: Exo;
	    font-size: 12px;
	    font-weight: bold;
	    margin-top: 21px;
	    max-width: 377px;
	}	
	ul.documentacion {
    	color: #6d6d6d;
    	font-size: 20px;
    	list-style: none;
    	margin-top: 20px;
    	font-family: Exo,Arial, Helvetica, sans-serif;
	}
	.form-title {
    	font-weight: bold;
    	text-transform: uppercase;
    	line-height: 22px;
    	font-size: 16px;
    	font-style: normal;
    	word-wrap: break-word;
    	display: block;
	}
	.opera-form-holder {
		margin-top: 50px;
	}
	.opera-form-holder .form-holder form label {
    	color: #7b8e9a;
    	display: block;
    	text-transform: uppercase;
    	font-size: 16px;
    	font-weight: normal;
	}
	/*.opera-form-holder ul.documentacion li {
    	background: "{!URLFOR($Resource.Modelorama_Resources, 'img/bg-li-documentacion.jpg')}" 0px center no-repeat;
    	background-size: 20px;
    	margin-bottom: 15px;
    	padding-left: 25px;
	}*/
	.form-opera {
		margin-top: 50px;
		font-family: Exo,Arial, Helvetica, sans-serif;
	}
	ul.documentacion {
    	color: #6d6d6d;
    	font-size: 20px;
    	list-style: none;
    	margin-top: 20px;
	}
	body {
	background: white;
	font-family: Exo
	}
	form.formular, .validationEngineContainer {
		font-family: tahoma, verdana, "sans-serif";
		font-size: 12px;
		padding: 20px;
		border: 1px solid #A5A8B8;
		width: 300px;
		margin: 0 auto;
	}
	.formular fieldset {
		margin-top: 20px;
		padding: 15px;
		border: 1px solid #B5B8C8;
	}
	.formular legend {
		font-size: 12px;
		color: #15428B;
		font-weight: 900;
	}
	.formular fieldset label {
		float: none;
		text-align: inherit;
		display:block;
		width: auto;
	}
	.formular label span {
		color: #000;
	}
	.formular input,.formular select,.formular textarea {
		display: block;  /* this breaks relative positioning */
		margin-bottom: 5px;
	}
	.formular .text-input {
		width: 250px;
		color: #555;
		padding: 4px;
		border: 1px solid #B5B8C8;
		font-size: 14px;
		margin-top: 4px;
		background: #FFF repeat-x;
	}
	.formular textarea {
		width: 250px;
		height: 70px;
		color: #555;
		padding: 4px;
		border: 1px solid #B5B8C8;
		font-size: 14px;
		margin-top: 4px;
		background: #FFF repeat-x;
	}
	.formular .infos {
		background: #FFF;
		color: #333;
		font-size: 12px;
		padding: 10px;
		margin-bottom: 10px;
	}
	.formular span.checkbox, .formular .checkbox, .formular .radio {
		display: inline;
	}
	.formular .submit {
		
		border: 1px solid #AAA;
		padding: 4px;
		margin-top: 20px;
		float: right;
		text-decoration: none;
		cursor: pointer;
	}
	.formular hr {
		clear: both;
		visibility: hidden;
	}
	.formular .fc-error {
		width: 350px;
		color: #555;
		padding: 4px;
		border: 1px solid #B5B8C8;
		font-size: 12px;
		margin-bottom: 15px;
		background: #FFEAEA;
	}
	.formular input[data-prompt-position="inline"] {
		display: inline;
	}
	.footnote {
		font-size: 11px;
		color: #666;
		font-style: italic;
	}
	.prompt-target {
		border: 1px dotted #666;
		min-height: 21px;
	}
	.inline-prompts label>span{
		display: inline-block;
		width: 250px;
	}
	.inline-prompts .text-input+.formError{
		margin-left: 10px;
	}
	.prompt-summary .inline {
		display: block;
	}
	.valError {
	    position: relative;
	    /*display: inline-block;*/
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    padding: 0px 0px 0px 0px;
	}	
	.valError .valErrortext {
	    visibility: hidden;
		width: 170px;
		background-color: #ee0101;
	    color: #fff;
	    text-align: center;
	    border-radius: 6px;
		/*padding: 8px 0;*/
	    position: absolute;
	    z-index: 1;
	    bottom: 125%;
	    left: 50%;
	    margin-left: -80px;
		
		font-size: 11px;
		border: 2px solid #ddd;
		line-height: 19px;
		word-wrap: break-word;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		box-shadow: 0 0 6px #000;
		-moz-box-shadow: 0 0 6px #000;
		-webkit-box-shadow: 0 0 6px #000;
		-o-box-shadow: 0 0 6px #000;
		/*padding: 4px 10px 4px 10px;*/
		/*border-radius: 6px;*/
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		-o-border-radius: 6px;
		/*z-index: 991;*/
	}
	/* valError arrow */
	.valError .valErrortext::after {
	    content: "";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
		/*border-color: #555 transparent transparent transparent;*/
		border-color: #ee0101 transparent transparent transparent;
	}
	/* Toggle this class - hide and show the valError */
	.valError .show {
	    visibility: visible;
	    -webkit-animation: fadeIn 1s;
	    animation: fadeIn 1s;
	}
	.valError .hide {
	    visibility: hidden;
	    /*-webkit-animation: fadeIn 1s;
	    animation: fadeIn 1s;*/
	}
	/*Error formulario*/
	.valErrorF {
	    position: relative;
	    /*display: inline-block;*/
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    padding: 0px 0px 0px 0px;
	}	
	.valErrorF .valErrortextF {
	    visibility: hidden;
		width: 170px;
		background-color: #ee0101;
	    color: #fff;
	    text-align: center;
	    border-radius: 6px;
		/*padding: 8px 0;*/
	    position: absolute;
	    z-index: 1;
	    bottom: 102%;
	    left: 30%;
	    margin-left: -80px;
		
		font-size: 11px;
		border: 2px solid #ddd;
		line-height: 19px;
		word-wrap: break-word;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		box-shadow: 0 0 6px #000;
		-moz-box-shadow: 0 0 6px #000;
		-webkit-box-shadow: 0 0 6px #000;
		-o-box-shadow: 0 0 6px #000;
		/*padding: 4px 10px 4px 10px;*/
		/*border-radius: 6px;*/
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		-o-border-radius: 6px;
		/*z-index: 991;*/
	}
	/* valError arrow */
	.valErrorF .valErrortextF::after {
	    content: "";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
		/*border-color: #555 transparent transparent transparent;*/
		border-color: #ee0101 transparent transparent transparent;
	}
	/* Toggle this class - hide and show the valError */
	.valErrorF .show {
	    visibility: visible;
	    -webkit-animation: fadeIn 1s;
	    animation: fadeIn 1s;
	}
	.valErrorF .hide {
	    visibility: hidden;
	    /*-webkit-animation: fadeIn 1s;
	    animation: fadeIn 1s;*/
	}
	/* Add animation (fade in the valError) */
	@-webkit-keyframes fadeIn {
	    from {opacity: 0;} 
	    to {opacity: 1;}
	}
	@keyframes fadeIn {
	    from {opacity: 0;}
	    to {opacity:1 ;}
	}	

	footer.wpf-footer {
    	background: #0c233f !important;
	}
	.headeran{
		background-image: url(https://www.modelorama.com.mx/wp-content/themes/pointfinder/images/modelorama1.png) !important;
	}