.input-content { 
    background-color: #EEEDEC;
    width: 193px;
    height: 35px !important;
    font-size: 8pt;
    font-weight: bold;
    color: #072142;
    border-width: thin;
    border-style: solid;
    border-color: #FFC808;
    border-radius: 5px; 
}
.title-line {
    border-top: 2px solid #FFC808;
    position: relative;
    margin-top: 10px;
}
.title-tag {
    font-weight: bold;
    font-size: 40px;
    color: #FFC808;
}
.center-content {
    margin: 0 auto;
    display: block;
    text-align: center;
}
.info-businessman{
    padding:30px;
    font-size: 18px;
    color: #fff;
    background-color: #072242;
    line-height: 1.1;
}
.table{
    font-size: 15px;
    color: #333;
}
.form-title{
    font-size: 15px;
    color: #333;
    font-weight: bold;
}