<apex:page standardController="Agri_Addendum__c">
    <center>
        <apex:outputPanel rendered="{!Agri_Addendum__c.Recordtype.Name == 'Agroquimicos' || Agri_Addendum__c.Recordtype.Name == 'Fertilizantes' || Agri_Addendum__c.Recordtype.Name == 'Seguros'}">
            <button onclick="Send_Legal()">Enviar a Legal</button>   
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{!Agri_Addendum__c.Recordtype.Name != 'Seguros'}">
            <button onclick="sendToSAP()">Enviar a SAP</button>   
        </apex:outputPanel>
    </center>
    <script src="/soap/ajax/39.0/connection.js" type="text/javascript"/>
    <script src="/soap/ajax/39.0/apex.js" type="text/javascript"/>
        
    <script>        
    
    var esMobile;     
    function isMobile() {     
        var userAgent=window.navigator.userAgent.toLowerCase();     
        return (-1!=userAgent.indexOf('mobile')); 
    }    
    esMobile = isMobile();            
    
    function Send_Legal() {       
        var ObjectAddendum= new sforce.SObject("Agri_Addendum__c");  
        ObjectAddendum.Id='{!Agri_Addendum__c.Id}'; //Obtenemos Id de registro 
        ObjectAddendum.Agri_Status__c="Addenda en validacion"; 
        URL = '{!$Site.BaseUrl}'; 
        sforce.connection.sessionId = "{!$Api.Session_ID}";        
        
        if("{!Agri_Addendum__c.Agri_Status__c}" != "Nueva addenda" && "{!Agri_Addendum__c.Agri_Status__c}" != "Error en addenda") 
        { 
            alert('No se puede realizar la solicitud. El status de la addenda debe ser NUEVA ADDENDA ó ERROR EN ADDENDA'); 
        } 
        else 
        { 
            if(ObjectAddendum!=null) 
            { 
                try{ 
                    updateOpportunity = sforce.connection.update([ObjectAddendum]); 
                    if(esMobile == true){
                        
                        alert('El proceso de envio de datos a legal se esta ejecutando');           
                        var u='salesforce1://sObject/';
                        location.replace(document.referrer);
                        window.top.location.href = u + ObjectAddendum.Id +'/' + 'view';
                    }
                    else
                    {
                        window.top.location.href = URL + "/" + ObjectAddendum.Id  ;
                    }
                } 
                catch(e) 
                { 
                    alert('Error : ' + e); 
                } 
            } 
        }
    }
    
    function sendToSAP() 
    {
        var objectAddendum = new sforce.SObject("Agri_Addendum__c");
        objectAddendum.Id = '{!Agri_Addendum__c.Id}';
        objectAddendum.Agri_Status__c = "Enviar a SAP";
        objectAddendum.Agri_chk_SentSAP__c = true;
        
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();        
        if(dd<10) {
            dd = '0'+dd
        }         
        if(mm<10) {
            mm = '0'+mm
        }         
        today = yyyy + '-' +  mm + '-' + dd;
        objectAddendum.agruDateOfTheRecipientsOrder__c = today;
        
        URL = '{!$Site.BaseUrl}';
        sforce.connection.sessionId = "{!$Api.Session_ID}";
        
        if(("{!Agri_Addendum__c.Recordtype.Name}" == "Agroquimicos" || "{!Agri_Addendum__c.Recordtype.Name}" == "Fertilizantes") 
           && "{!Agri_Addendum__c.Agri_Status__c}" != "Aceptada" && "{!Agri_Addendum__c.Agri_Status__c}" != "Error en SAP") 
        {
            alert('No es posible enviar a SAP. El estatus de la addenda debe ser ACEPTADA ó ERROR EN SAP');
            
        } else if(("{!Agri_Addendum__c.Recordtype.Name}" == "Compra de Cebada" || "{!Agri_Addendum__c.Recordtype.Name}" == "Venta de semilla") 
                && "{!Agri_Addendum__c.Agri_Status__c}" != "Nueva addenda" && "{!Agri_Addendum__c.Agri_Status__c}" != "Error en SAP") 
        {
            alert('No es posible enviar a SAP. El estatus de la addenda debe ser NUEVA ADDENDA ó ERROR EN SAP');
            
        } else if("{!Agri_Addendum__c.Recordtype.Name}" != "Compra de Cebada" && ("{!Agri_Addendum__c.agriSalesOrganization__c}" == '' || "{!Agri_Addendum__c.agriSalesOrganization__c}" == null ||  
                                                                                  "{!Agri_Addendum__c.Agri_nu_RealQuantityProduct__c}" == '' || "{!Agri_Addendum__c.Agri_nu_RealQuantityProduct__c}" == null || 
                                                                                  "{!Agri_Addendum__c.agriBatchId__c}" == '' || "{!Agri_Addendum__c.agriBatchId__c}" == null ||
                                                                                  "{!Agri_Addendum__c.agriSeedPaymentTerm__c}" == '' || "{!Agri_Addendum__c.agriSeedPaymentTerm__c}" == null ||
                                                                                  "{!Agri_Addendum__c.agri_rb_DeliveryWarehouse__c}" == '' || "{!Agri_Addendum__c.agri_rb_DeliveryWarehouse__c}" == null))			        
        {
            alert('Para enviar a SAP, es necesario que llenes los siguientes datos: Organización de ventas, Fecha del pedido del destinatario, Cantidad real de producto, Número de lote, Plazo de pago de semilla, Almacén');        	
        }/* else if("{!Agri_Addendum__c.Recordtype.Name}" == "Compra de Cebada" && ...) {  //Validacion campos obligatorios adenda de cebada
        
        }*/ else if("{!Agri_Addendum__c.Agri_Status__c}" == "Aceptada" && "{!Agri_Addendum__c.Agri_chk_SentSAP__c}" == "true") {
			alert('Esta adenda ya fue registrada previamente en SAP.');        
        } else if(objectAddendum != null) {
            try {
				updateOpportunity = sforce.connection.update([objectAddendum]);            	
                if(esMobile == true) {
                    alert('El proceso de envio de datos a SAP se esta ejecutando');           
                    var u='salesforce1://sObject/';
                    location.replace(document.referrer);
                    window.top.location.href = u + objectAddendum.Id +'/' + 'view';                
                } else {
                    window.top.location.href = URL + "/" + objectAddendum.Id;
                }                                
            } catch(e) {
                console.log(e);
            	alert('ERROR: ' + e);
            }                
        }        
    }
    
    </script>
    
</apex:page>