<apex:page controller="Agri_DeliveryOrderCancel_Ctrl" >
    
    <apex:form > 
        <apex:pageMessages id="msg" /> 
    	<apex:pageBlock title="Cancelar Ordenes de Entrega">        	
            <apex:pageBlockButtons >
            	<apex:commandButton value="Cancelar Ordenes" action="{!actualizaSeleccionados}" reRender="tabla,msg" />
                <apex:commandButton value="Regresar" action="{!regresar}"  />
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection title="Ordenes de Entrega" collapsible="false" columns="1">
                <apex:pageBlockTable id="tabla" value="{!lOrdersWrapper}" var="dow">
                    <apex:column >
                        <apex:facet name="header">
                            <apex:inputCheckbox onclick="selectAllCheckboxes(this,'inputId')" />
                        </apex:facet>
                        <apex:inputCheckbox value="{!dow.isSelected}" id="inputId" rendered="{!dow.deliveryOrder.Agri_ls_status__c != 'Cancelada'}" />
                    </apex:column>
                    <apex:column value="{!dow.deliveryOrder.Agri_Folio__c}" />
                    <apex:column value="{!dow.deliveryOrder.Agri_rb_almacen__r.Name}" />
                    <apex:column value="{!dow.deliveryOrder.Agri_ls_status__c}" />
                    <apex:column value="{!dow.deliveryOrder.Agri_Estimated_weight__c}" />
                    <apex:column value="{!dow.deliveryOrder.Agri_Delivery_date__c}" />
                </apex:pageBlockTable>  
            </apex:pageBlockSection>
                                  
        </apex:pageBlock>
    </apex:form>
    
    
    <script type="text/javascript">
        function selectAllCheckboxes(obj,receivedInputID){
            var inputCheckBox = document.getElementsByTagName("input");                  
            for(var i=0; i<inputCheckBox.length; i++){          
                if(inputCheckBox[i].id.indexOf(receivedInputID)!=-1){                                     
                    inputCheckBox[i].checked = obj.checked;
                }
            }
        }
    </script>
    
</apex:page>