<apex:page standardController="Agri_Supplier__c">
<center>
<button onclick="Send_BPM()">Enviar a BPM</button>
<button onclick="Update_BPM()">Modificar Datos</button>

</center>
<script src="/soap/ajax/39.0/connection.js" type="text/javascript"/>
<script src="/soap/ajax/39.0/apex.js" type="text/javascript"/>

<script>

var esMobile; 

function isMobile() {     
                        var userAgent=window.navigator.userAgent.toLowerCase();     
                        return (-1!=userAgent.indexOf('mobile')); 
                    }
esMobile = isMobile();


function Send_BPM() {
                        var ObjectAccount= new sforce.SObject("Agri_Supplier__c");  
                        ObjectAccount.Id='{!Agri_Supplier__c.Id}'; //Obtenemos Id de registro 
                        ObjectAccount.Agri_Status_Account__c="Enviado a BPM"; 
                        URL = '{!$Site.BaseUrl}'; 
                        sforce.connection.sessionId = "{!$Api.Session_ID}";
                        
                        var camposFaltantes = 'Debe llenar los siguientes campos: ';

                        if("{!Agri_Supplier__c.Agri_Account_Type__c}" == null || "{!Agri_Supplier__c.Agri_Account_Type__c}" == "") 
                        {
                            camposFaltantes = camposFaltantes + '\n\r Personalidad Fiscal';
                        }
                        
                        if(camposFaltantes != null && camposFaltantes != "" && camposFaltantes != 'Debe llenar los siguientes campos: ')
                        {
                            alert(camposFaltantes);
                        } 
                        
                            else
                            {
                                if("{!Agri_Supplier__c.Agri_Status_Account__c}" != "Nuevo" && "{!Agri_Supplier__c.Agri_Status_Account__c}" != "Error BPM" && "{!Agri_Supplier__c.Agri_Status_Account__c}" != "Modificado"&& "{!Agri_Supplier__c.Agri_Status_Account__c}" != "En validacion") 
                                { 
                                    alert('No se puede procesar la solicitud. El status de la cuenta debe ser NUEVO, MODIFICADO, EN VALIDACION ó ERROR BPM'); 
                                } 
                                    else 
                                    { 
                                        if(ObjectAccount!=null) 
                                        { 
                                            try
                                            { 
                                                updateOpportunity = sforce.connection.update([ObjectAccount]); 
                                                if(esMobile == true)
                                                {
                                                    alert('El proceso de envio de datos a BPM se esta ejecutando');           
                                                    var u='salesforce1://sObject/';
                                                    location.replace(document.referrer);
                                                    window.top.location.href = u + ObjectAccount.Id +'/' + 'view';
                                                }
                                                else
                                                {
                                                window.top.location.href = URL + "/" + ObjectAccount.Id;
                                                }
                                            } 
                                            catch(e) 
                                            { 
                                                alert('Error : ' + e); 
                                            } 
                                        } 
                                    }
                            }
                    }
                    
function Update_BPM() {
                        var ObjectAccount= new sforce.SObject("Agri_Supplier__c");  
                        ObjectAccount.Id='{!Agri_Supplier__c.Id}'; //Obtenemos Id de registro 
                        ObjectAccount.Agri_Status_Account__c="Actualizacion_BPM"; 
                        URL = '{!$Site.BaseUrl}'; 
                        sforce.connection.sessionId = "{!$Api.Session_ID}";
                        
                        var camposFaltantes = 'Debe llenar los siguientes campos: ';

                        if("{!Agri_Supplier__c.Agri_Account_Type__c}" == null || "{!Agri_Supplier__c.Agri_Account_Type__c}" == "") 
                        {
                            camposFaltantes = camposFaltantes + '\n\r Personalidad Fiscal';
                        }
                        
                        if(camposFaltantes != null && camposFaltantes != "" && camposFaltantes != 'Debe llenar los siguientes campos: ')
                        {
                            alert(camposFaltantes);
                        } 
                        
                            else
                            {
                                if("{!Agri_Supplier__c.Agri_Status_Account__c}" == "Enviado a BPM" || "{!Agri_Supplier__c.Agri_Status_Account__c}" == "Error BPM" || "{!Agri_Supplier__c.Agri_Status_Account__c}" == "Actualizacion_BPM" || "{!Agri_Supplier__c.Agri_Status_Account__c}" == "En validacion") 
                                { 
                                    alert('No se puede procesar la solicitud. El status de la cuenta debe ser diferente ENVIADO a BPM, Error BPM ó EN PROCESO DE ACTUALIZACIÓN DE DATOS'); 
                                } 
                                    else 
                                    { 
                                        if(ObjectAccount!=null) 
                                        { 
                                            try
                                            { 
                                                updateOpportunity = sforce.connection.update([ObjectAccount]); 
                                                if(esMobile == true)
                                                {
                                                    alert('El proceso de actualizacion de datos a BPM se esta ejecutando');           
                                                    var u='salesforce1://sObject/';
                                                    location.replace(document.referrer);
                                                    window.top.location.href = u + ObjectAccount.Id +'/' + 'view';
                                                }
                                                else
                                                {
                                                window.top.location.href = URL + "/" + ObjectAccount.Id;
                                                }
                                            } 
                                            catch(e) 
                                            { 
                                                alert('Error : ' + e); 
                                            } 
                                        } 
                                    }
                            }
                    }
</script>
</apex:page>