<apex:page controller="CDM_ExecutionLog_ctr">
    <apex:slds />

    <apex:form >
        <apex:pageBlock title="{!$Label.CDM_Title21}">
          <apex:commandButton action="{!save}" value="{!$Label.CDM_Title30}" id="theButton"/> 
            <br/><br/>
        <apex:pageBlockTable value="{!Logs}" var="item">
            <apex:column >
            <apex:facet name="header">{!$Label.CDM_status}</apex:facet>
            <apex:outputText style="width: 50%; height: 20px; font-weight:bold; font-size: 12px;" value="{!item.CDM_State__c}"/>
        </apex:column>
        <apex:column style="text-align:center;">
            <apex:facet name="header">{!$Label.CDM_Title22} </apex:facet>
            <apex:outputText style="width: 50%; height: 20px;font-size: 12px;" value="{!item.Credopor__c}"/>
        </apex:column>
        <apex:column style="text-align:center;">
            <apex:facet name="header">{!$Label.CDM_Title23} </apex:facet>
            <apex:outputText style="width: 50%; height: 20px;font-size: 12px;" value="{!item.Name}"/>
        </apex:column>
        <apex:column style="text-align:center;">
            <apex:facet name="header">{!$Label.CDM_Title24} </apex:facet>
            <apex:outputText style="width: 50%; height: 20px; font-size: 12px;" value="{!item.CDM_StartDate__c}" >
            </apex:outputText>
        </apex:column>
            <apex:column style="text-align:center;">
            <apex:facet name="header">{!$Label.CDM_Title25} </apex:facet>
            <apex:outputText style="width: 50%; height: 20px;font-size: 12px;" value="{!item.CDM_EndDate__c}">
            </apex:outputText>
        </apex:column>
        <apex:column style="text-align:center;">
            <apex:facet name="header">{!$Label.CDM_Title26}  </apex:facet>
            <apex:outputText style="width: 50%; height: 20px;font-size: 12px;" value="{!item.CDM_Total__c}"/>
        </apex:column>
            <apex:column style="text-align:center;">
            <apex:facet name="header">{!$Label.CDM_Title27} </apex:facet>
            <apex:outputText style="width: 50%; height: 20px; font-size: 12px;" value="{!item.CDM_BatchProc__c}"/>
        </apex:column>
        <apex:column style="text-align:center;">
            <apex:facet name="header">{!$Label.CDM_Title28} </apex:facet>
            <apex:outputText style="width: 50%; height: 20px; font-size: 12px;" value="{!item.CDM_Failure__c}"/>
        </apex:column>
            <apex:column style="text-align:center;">
            <apex:facet name="header" >{!$Label.CDM_Title29}</apex:facet>
            <apex:outputText style="width: 50%; height: 20px; font-size: 12px;" value="{!item.CDM_Details__c}"/>
        </apex:column>
        </apex:pageBlockTable>
            </apex:pageBlock>
    </apex:form>
</apex:page>