<apex:page standardController="Agri_Contract__c" extensions="ContentContractController" >
    <apex:messages />
    <apex:form enctype="multipart/form-data" >
        <apex:pageBlock title="Cargar Archivos del Proveedor" >
            <apex:commandbutton action="{!upload}" value="Adjuntar" status="status"/>
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel > Nombre del archivo </apex:outputLabel>
                    <!--<apex:inputTextarea value="{!title}"/>-->
                    <apex:selectList size="1" id="archivoAcargar" value="{!archivoSeleccionado}" styleClass="slds-select" > 
                        <apex:selectOptions value="{!archivosOptionsContr}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    Seleccionar archivo
                    <apex:inputFile value="{!file}" fileName="{!fN}" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>