<apex:page language="es_MX" rendered="true" docType="html-5.0" showHeader="false" standardStylesheets="false" sidebar="false" controller="BusinessmanController" action="{!buscarMiModelorama}">
    
    <apex:form id="form">
    <apex:stylesheet value="{!$Resource.MDRM_Generalcss}">
        <html>
            
            <head>
                
                <title></title>
            </head>
            
            <body style="margin: 0;">
                <!-- <nav id="navGeneralHeader">
                    
                    <center> 
                            <apex:image url="{!$Resource.logoSabemos}" styleClass="imageGeneralHeader" />
                    </center>
                    
                </nav> -->
                <center>
                    <apex:outputText value="{!inputTextErrorTotal}" styleClass="errorMsg"/>
                    <apex:outputText value="{!inputTextErrorMessage}" styleClass="errorMsg"/>
                    <apex:outputText value="{!inputTextErrorMessageBussy}" styleClass="errorMsg"/>

                        <table id="tableProfileForm">
                            <tbody>
                                <!--======tablebody=====================================================================================-->
                                <!--==tablerow2==-->
                                <tr id = "trProfile">
                                    <td id="tdProfile"><h1 class="form-title">
                                        <!--==title==--> {!$Label.MDRM_BP_BusinessmanData}
                                        </h1></td>
                                    <td id="tdProfile">
                                        <apex:commandButton value="{!$Label.MDRM_BP_EditProfile}" action="{!changeEditable}" rendered="{!isEditable}" styleClass="buttoncolorEsTuyo" />
                                        <apex:commandButton value="{!$Label.MDRM_BP_Save}" action="{!editProfile}" styleClass="buttoncolorEsTuyo" rendered="{!!isEditable}"/>
                                        <apex:commandButton value="{!$Label.MDRM_BP_Survey}" action="{!pageSurvey}" styleClass="buttoncolorEsTuyo" rendered="{!isEditable}"/>
                                    </td>
                                </tr>
                                
                                <tr id = "trProfile">
                                    <!--==tablerow2==-->
                                    <!--===============Tablecolumn1==========-->
                                    <td id="tdProfile2">
                                        <!--===============d1=================-->
                                        <!--división-->
                                        
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle" for="nombre_m">{!$Label.MDRM_BP_NameAndMotherSurname}</label>
                                            <!--input-->
                                        <!-- <apex:outputText value="{!empresario.Name}" styleClass="form-label"/> -->
                                            <apex:outputText value="{!accWrap.Name}" styleClass="form-label"/>
                                            <!--saltolinea-->
                                        </div>
                                        <br />
                                        <!--===============d2=================-->
                                        <!--división-->
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle" for="cp_m">{!$Label.MDRM_BP_LastName}
                                            </label>
                                            <!--input-->
                                        <!-- <apex:outputText value="{!empresario.MDRM_LastName__c}" styleClass="form-label"/> -->
                                            <apex:outputText value="{!accWrap.MDRM_LastName}" styleClass="form-label"/>
                                        <!--saltolinea-->
                                        </div>
                                        <br />
                                        <!--===============d3=================-->
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle" for="fecha_nac_emp_1">{!$Label.MDRM_BP_Birthday}
                                            </label>
                                            <apex:outputText value="{0,date,dd/MM/yyyy}" styleClass="form-label" >
                                                <!-- <apex:param value="{!empresario.Contacts[0].birthdate}" /> -->
                                                <apex:param value="{!accWrap.ContactsBirthdate}" />
                                            </apex:outputText> 
                                        
                                            <!--saltolinea-->
                                        </div>
                                        <br />
                                        <!--división-->
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle" for="gend_emp_1">{!$Label.MDRM_BP_Gender}</label>
                                            <!-- <apex:outputText value="{!empresario.Contacts[0].MDRM_Gender__c}" styleClass="form-label"/> -->
                                            <apex:outputText value="{!accWrap.ContactsGender}" styleClass="form-label"/>   
                                            <!--saltolinea-->
                                        </div>
                                        <br />
                                        <!--===============d4=================-->
                                        <!--división-->
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            
                                            
                                            <label id="nombresEtiquetasStyle"  for="municipio_m"  class="">{!$Label.MDRM_BP_Phone}
                                            <apex:outputLabel value="*" styleClass="errorMsg" rendered="{!!isEditable }"/> 
                                            </label>
                                            <!--input-->
                                            
                                        <!-- <apex:outputText value="{!empresario.Contacts[0].Phone}" styleClass="form-label" rendered="{!isEditable }"/> -->
                                            <apex:outputText value="{!accWrap.ContactsPhone}" styleClass="form-label" rendered="{!isEditable }"/>
                                        <!--<apex:inputField type="text" value="{!empresario.Contacts[0].Phone}" onkeypress="return inputLimiter(event,'Numbers');" styleClass="form-control" rendered="{!!isEditable }">
                						</apex:inputField>-->
                                            <apex:input type="text" value="{!accWrap.ContactsPhone}" onkeypress="return inputLimiter(event,'Numbers');" styleClass="form-control" rendered="{!!isEditable }">
                						</apex:input>
                                        <apex:outputText value="{!PhoneError}" styleClass="errorMsg"/>
                                            <!--saltolinea-->
                                        </div>
                                        <br />
                                        <!--===============d5=================-->
                                        <!--división-->
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle" for="calle_m">{!$ObjectType.Account.Fields.ONTAP__Email__c.Label}</label>
                                            <!--input-->
                                        <!-- <apex:outputText value="{!empresario.ONTAP__Email__c}" styleClass="form-label"/> -->
                                        	<apex:outputText value="{!accWrap.ONTAP_Email}" styleClass="form-label"/>
                                                              
                                            <!--saltolinea-->
                                            <!--división-->
                                            
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle"  for="calle_m">{!$Label.MDRM_BP_FacebookAccount}</label>
                                            <!--input-->
                                        <!-- <apex:outputText value="{!empresario.Forms__r[0].MDRM_Facebook_Account__c}" styleClass="form-label" rendered="{!isEditable }"/> -->
                                            <apex:outputText value="{!accWrap.FormsFacebookAccount}" styleClass="form-label" rendered="{!isEditable }"/>
                                        <apex:input type="text" value="{!accWrap.FormsFacebookAccount}" onkeypress="return inputLimiter(event,'NameCharactersAndNumbers');" styleClass="form-control" rendered="{!!isEditable }">
                						</apex:input>
                                                              
                                            <!--saltolinea-->
                                        </div>
                                        <br /><br />
                                        
                                        
                                    </td>
                                    
                                    
                                    <td id="tdProfile">
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle" for="calle_m">{!$Label.MDRM_BP_PostalCode}
                                                <apex:outputLabel value="*" styleClass="errorMsg" rendered="{!!isEditable }"/> 
                                            </label>
                                        <!-- <apex:outputText value="{!empresario.ONTAP__PostalCode__c}" styleClass="form-label" rendered="{!isEditable }"/> -->
                                            <apex:outputText value="{!accWrap.ONTAP_PostalCode}" styleClass="form-label" rendered="{!isEditable }"/>
                                        <apex:input type="text" value="{!accWrap.ONTAP_PostalCode}" onkeypress="return inputLimiter(event,'Numbers');" styleClass="form-control" rendered="{!!isEditable }">
                						</apex:input>
                                        <apex:outputText value="{!PostalCodeError}" styleClass="errorMsg"/>
                    
                                            <!--saltolinea-->
                                        </div>
                                        <br />
                                        <!--división-->
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle" for="calle_m">{!$Label.MDRM_BP_Province}
                                                <apex:outputLabel value="*" styleClass="errorMsg" rendered="{!!isEditable }"/> 
                                            </label>
                                            <!--input-->
                                         <!-- <apex:outputText value="{!empresario.ONTAP__Province__c}" styleClass="form-label" rendered="{!isEditable }"/> -->
                                        <apex:outputText value="{!accWrap.ONTAP_Province}" styleClass="form-label" rendered="{!isEditable }"/>
                                        <apex:input type="text" value="{!accWrap.ONTAP_Province}" styleClass="form-control" rendered="{!!isEditable }">
                						</apex:input>
                                        <apex:outputText value="{!RequieredProvinceError}" styleClass="errorMsg"/>

                                            <!--saltolinea-->
                                        </div>
                                        <br />
                                        
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle" for="calle_m">{!$Label.MDRM_BP_Municipality}
                                                <apex:outputLabel value="*" styleClass="errorMsg" rendered="{!!isEditable }"/> 
                                            </label>
                                            <!--input-->
                                            <!-- <apex:outputText value="{!empresario.ONTAP__Municipality__c}" styleClass="form-label" rendered="{!isEditable }"/> -->
                                        <apex:outputText value="{!accWrap.ONTAP_Municipality}" styleClass="form-label" rendered="{!isEditable }"/>
                                        <apex:input type="text" value="{!accWrap.ONTAP_Municipality}" onkeypress="return inputLimiter(event,'Letters');" styleClass="form-control" rendered="{!!isEditable }">
                						</apex:input>
                                        <apex:outputText value="{!RequieredMunicipalityError}" styleClass="errorMsg"/>
                                            <!--saltolinea-->
                                        </div>
                                        <br />
                                        <!--división-->
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle" for="colonia_m">{!$Label.MDRM_BP_Colony}
                                                <apex:outputLabel value="*" styleClass="errorMsg" rendered="{!!isEditable }"/> 
                                            </label>
                                            <!-- <apex:outputText value="{!empresario.ONTAP__Colony__c}" styleClass="form-label" rendered="{!isEditable }"/> -->
                                            <apex:outputText value="{!accWrap.ONTAP_Colony}" styleClass="form-label" rendered="{!isEditable }"/>
                                            <apex:input type="text" value="{!accWrap.ONTAP_Colony}" onkeypress="return inputLimiter(event,'NameCharacters');" styleClass="form-control" rendered="{!!isEditable }">
                						</apex:input>
                                        <apex:outputText value="{!RequieredColonyError}" styleClass="errorMsg"/>
                                        </div>
                                        <br />
                                        
                                        <!--===============d6=================-->
                                        <!--división-->
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle" for="calle_m">{!$Label.MDRM_BP_Street}
                                                <apex:outputLabel value="*" styleClass="errorMsg" rendered="{!!isEditable }"/> 
                                            </label>
                                            <!--input-->
                                            
                                        <!-- <apex:outputText value="{!empresario.ONTAP__Street__c}" styleClass="form-label" rendered="{!isEditable }"/> -->    
                                        <apex:outputText value="{!accWrap.ONTAP_Street}" styleClass="form-label" rendered="{!isEditable }"/>
                                        <apex:input type="text" value="{!accWrap.ONTAP_Street}" onkeypress="return inputLimiter(event,'NameCharacters');" styleClass="form-control" rendered="{!!isEditable }">
                						</apex:input>
                                        <apex:outputText value="{!RequieredStreetError}" styleClass="errorMsg"/>
                                            <!--saltolinea-->
                                        </div>
                                        <br />
                                        <!--===============d7=================-->
                                        <!--división-->
                                        <div class="form-group">
                                            <!--nombreEtiqueta-->
                                            <label id="nombresEtiquetasStyle" for="numero_m">{!$Label.MDRM_BP_StreetNumber}
                                                <apex:outputLabel value="*" styleClass="errorMsg" rendered="{!!isEditable }"/> 
                                            </label>
                                            <!--input-->
                                            <!-- <apex:outputText value="{!empresario.ONTAP__Street_Number__c}" styleClass="form-label" rendered="{!isEditable }"/> -->
                                        <apex:outputText value="{!accWrap.ONTAP_Street_Number}" styleClass="form-label" rendered="{!isEditable }"/>
                                        <apex:input type="text" value="{!accWrap.ONTAP_Street_Number}" onkeypress="return inputLimiter(event,'Numbers');" styleClass="form-control" rendered="{!!isEditable }">
                						</apex:input>
                                        <apex:outputText value="{!RequieredStreetNumberError}" styleClass="errorMsg"/>
                    
                                            <!--saltolinea-->
                                            
                                            <!--división-->
                                        </div>
                                        <br /><br /><br />
                                        <!--column1 end-->
                                        &nbsp;&nbsp;
                                        
                                        <!--===============Tablecolumn2==========-->
                                    </td>
                                    
                                </tr>
                                
                                <!--======tablebodyEnd=====-->
                            </tbody>
                            <!--======TableEnd=====-->
                        </table>
                        
                         
                </center>
               
                <div>
                    <apex:pageBlock id="codePage" >
                        <table id="tableProfile1">
                            <tr>
                                <td id="tdProfileModeloramasEmpleados"><h1 class="form-title">
                                    <!--==title==-->{!$Label.MDRM_BP_AvailableModeloramas}
                                    </h1></td>
                                <td id="tdProfileModeloramasEmpleados">
                                    <apex:commandButton value="{!$Label.MDRM_BP_New}" styleClass="buttoncolorEnterProf" action="{!newMdrm}" reRender="codePage, form" rendered="{!isNewMdrm}" />
                                </td>
                            </tr>
                            <tr rendered="{!!isNewMdrm}">   
                                <td>
                                    <h2 id="nombresEtiquetasStyle">
                                            <apex:outputLabel value="{!$Label.MDRM_BP_SearchNewModelorma}" rendered="{!!isNewMdrm}"/>
                                        </h2>
                                        <apex:inputText id="sapid" value="{!sapid}" styleClass="form-control-NewMdrm" html-placeholder="{!$Label.MDRM_BP_ModeloramaCode}" rendered="{!!isNewMdrm}">
                                        </apex:inputText><br/></td>
                                    <td><apex:commandButton value="{!$Label.MDRM_BP_Search}" action="{!modeloramaSAP}" styleClass="buttoncolor2" rendered="{!!isNewMdrm}"/> </td>
                            </tr>
                        </table>
                        </apex:pageBlock>
                    	
                        <apex:pageBlock id="blockTable" >
                            <center><apex:outputText value="{!inputTextErrorLastModelorama}" styleClass="errorMsg" rendered="{!!isNewValue}"/></center>
                        <apex:pageBlockTable value="{!wrapListaModelorama}" var="Datos" styleClass="tableProfileFormDinamic">
                            <apex:column styleClass="tdProfileModelo">
                               
                               <apex:outputText value="{!Datos.Name}" styleClass="form-labelMdrm">
            				   <apex:actionSupport event="onclick" action="{!deleteMdrm}">
                                   <apex:param assignTo="{!Datos}" value="Texto de prueba" name="Datos"/>
                               </apex:actionSupport>
                               </apex:outputText>
                               
                               <apex:commandButton value="{!$Label.MDRM_BP_Delete}" action="{!deleteMdrm}" styleClass="buttoncolorDelete" onclick="disableOnSubmit(this);" reRender="blockTable">
                                   <apex:param assignTo="{!parametroModelorama}" value="{!Datos.z019}" name="parametroModelorama"/>
                               </apex:commandButton>
                               <apex:commandLink value="{!$Label.MDRM_BP_See}" action="{!pagetoModelorama}" styleClass="buttoncolor2">
                                   <apex:param assignTo="{!parametroModelorama}" value="{!Datos.z019}" name="parametroModelorama"/>
                               </apex:commandLink>
                               
                            </apex:column>
                        	</apex:pageBlockTable> 
                            
                            
                        </apex:pageBlock>
                       <script type="text/javascript">
                                
                                function disableOnSubmit(input) {
                                    var btn = input;
                                    setTimeout(function(){ 
                                        btn.disabled = 'disabled';
                                        // Use the Salesforce CSS style to make the button appear disabled
                                        btn.styleClass = 'buttoncolorDelete';
                                        btn.value = "Eliminando...";
                                    }, 0);
                                }
                                </script>
                   
                </div>
            </body>
        </html>
    </apex:stylesheet>
  </apex:form>
   				 <script type="text/javascript">
                    function inputLimiter(e,allow) {
                        var AllowableCharacters = '';
                        
                        if (allow == 'Letters'){AllowableCharacters=' ABCDEFGHIJKLMNÑOPQRSTUVWXYZabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚáéíóú-';}
                        if (allow == 'Numbers'){AllowableCharacters='1234567890';}
                        if (allow == 'NameCharacters'){AllowableCharacters=' ABCDEFGHIJKLMNÑOPQRSTUVWXYZabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚáéíóú-.\'1234567890';}
                        if (allow == 'NameCharactersAndNumbers'){AllowableCharacters='1234567890 ABCDEFGHIJKLMNÑOPQRSTUVWXYZabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚáéíóú|°!"#$%&/()=¿?¡-\'';}
                        
                        
                        var k = document.all?parseInt(e.keyCode): parseInt(e.which);
                        if (k!=13 && k!=8 && k!=0){
                            if ((e.ctrlKey==false) && (e.altKey==false)) {
                                return (AllowableCharacters.indexOf(String.fromCharCode(k))!=-1);
                            } else {
                                return true;
                            }
                        } else {
                            return true;
                        }
                    }
                    
                    </script>
</apex:page>