<apex:page language="{!strlanguage}" standardcontroller="User" title="View Team Account By User" extensions="ISSM_AdminATM_Usuario_ctr" lightningStylesheets="true" cache="false" sidebar="false" showheader="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <!-- My own styles -->
        <style>
            a, a:hover {
                color: #000;
                text-decoration: none;
            }
            .contenedor {
                padding: 5%;
            }
        </style>
        
        <!-- Salesforce1 -->
        <script type="text/javascript" src="/canvas/sdk/js/publisher.js"></script>
        
        <!-- My own scripts -->
        <script>
        
            $(document).ready(function() {
                // Disable submit button
                Sfdc.canvas.publisher.subscribe({
                    name: "publisher.showPanel",
                    onData:function(e) {
                        Sfdc.canvas.publisher.publish({name:"publisher.setValidForSubmit", payload:"false"});
                }});
            }
            
        </script>
    </head>

    <body>
        <apex:form id="AdminATM">

           <!--  <apex:outputPanel id="Aviso_Panel" rendered="{!IF(MostrarAviso_bln == true,true,false)}">
                <h3> Favor de actualizar la página </h3>
            </apex:outputPanel> -->

            <apex:outputPanel id="AdminATM_Panel" rendered="{!IF(MostrarAdmin_bln == true,true,false)}">
                <apex:commandButton id="Nuevo" value="{!$Label.ISSM_AssignUserToATM}" action="{!nuevo}" rendered="{!IF(TieneDatos_bln == false,false,true)}"/>
                <apex:commandButton id="Eliminar" value="{!$Label.ISSM_DeleteUserToATM}" action="{!eliminar}" rendered="{!IF(TieneDatos_bln == true,false,true)}"/>
    
                <apex:pageBlock id="renderBlock1" rendered="{!IF(TieneDatos_bln == false,false,true)}" >
                    <apex:pageBlockSection title=""> <!-- {!$Label.ISSM_AssignUserToATM} -->
                    </apex:pageBlockSection>
                </apex:pageBlock>
    
                <apex:pageBlock id="renderBlock2" rendered="{!IF(TieneDatos_bln == true,false,true)}" >
                    <apex:pageBlockSection title=""> <!-- {!$Label.ISSM_UserDontAssignToSO} -->
                        <apex:pageblockTable value="{!AccTM_lst}" var="atm">
                            <a href="javascript:sforce.one.navigateToSObject('{!atm.Id}');">
                                <apex:column headerValue=" --------------- {!$Label.ISSM_Current_User} --------------- " value="{!atm.Usuario_relacionado__c}"></apex:column>
                                <apex:column headerValue=" --------------- {!$Label.ISSM_SalesOffice} --------------- " value="{!atm.Oficina_de_ventas__r.Name}"></apex:column>
                                <apex:column headerValue=" --------------- {!$Label.ISSM_Role} --------------- " value="{!atm.Rol__c}"></apex:column>
                            </a>
                        </apex:pageblockTable>
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </apex:outputPanel>
            
            <apex:outputPanel id="NuevoATM_Panel" rendered="{!IF(MostrarNuevo_bln == true,true,false)}">
                <apex:pageBlock mode="detail">

                    <!-- <apex:outputPanel id="panel1" rendered="{!IF(Error1_bln == true,false,true)}">
                        <apex:pageMessage severity="info" strength="1" summary="{!$Label.ISSM_SelectSOandRol}" />
                        <br> </br>
                    </apex:outputPanel> -->
                    
                    <apex:outputPanel id="View">
                        <apex:pageMessage severity="info" strength="1" summary="{!$Label.ISSM_SelectSOandRol}" />
                    </apex:outputPanel>
                    
                    <br> </br>
                    
                    <apex:outputLabel value="{!$Label.ISSM_SelectSalesOffice}" for="theLookup"/>
                    <apex:inputField value="{!acc.ISSM_SalesOffice__c}"/>
                    
                    <br> </br>
    
                    <apex:outputLabel value="{!$Label.ISSM_SelectRol}"/>
                    <apex:inputField value="{!accTM_Mirror.Rol__c}"/>
    
                    <apex:outputPanel id="panel2">
    
                    </apex:outputPanel>
    
                    <apex:pageBlockButtons >
                        <apex:commandButton value="Guardar" action="{!guardar}" rerender="panel2">
                            <apex:param name="UsuarioId"
                                value="{!user.id}"
                                assignTo="{!UsuarioId}"/>
                        </apex:commandButton>
                        <apex:commandButton value="Cancelar" action="{!cancelar}"/>
                    </apex:pageBlockButtons>
    
                </apex:pageblock>
            </apex:outputPanel>
        </apex:form>
    </body>
</apex:page>