<apex:page language="{!strlanguage}" standardcontroller="ONTAP__Case_Force__c" extensions="ISSM_CAM_WSEnvioPedidos_ctr" lightningStylesheets="true" cache="false" sidebar="false" showheader="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">   
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <apex:stylesheet value="{!URLFOR($Resource.SLDS_GM_AVX_2017, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            
            <!-- My own styles --> 
                <style>
                a, a:hover {
                    color: #000;
                    text-decoration: none;
                } 
            .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
                color: #fff;
                background-color: #47a447;
                border-color: #398439;
            }
            .bg-success {
                background-color: #47a447 !important;
            }
            .list-group {
                padding: 15px;
            }
            .outputText-style {
                font-color: black;
            }
            </style>
            
            <!-- Salesforce1 -->
                <script type="text/javascript" src="/canvas/sdk/js/publisher.js"></script>
            
            <!-- My own scripts -->
            <script>     
            $(document).ready(function() {
                inicializar();
                
            });
            
            function scrollToBottom() {
                $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                return false;
            }
            
            function hideLoading() {
                $(".loadingimg").css({'display':'none'});
            }
            
            function launchWindow() {
                window.open("{!ONTAP__Case_Force__c.Id}");
            }
            
            </script>
        </head>
        
        <body>     
            <apex:form id="idForma">
                
                <apex:outputPanel id="botonEnviarPedido">
                    <!-- BOTÓN PARA ENVIAR PEDIDO -->
                    <apex:commandButton id="idButton" action="{!inicializar}" value="{!$Label.ISSM_ProcessOrder}" status="myStatus" styleClass="btn-success" style="margin-top:15px; color:white; padding: 6px 12px; border-color:#398439; background-image:linear-gradient(to bottom,#5cb85c 0,#449d44 100%); background-repeat:repeat-x;" rerender="idForma"/>              
                    
                    <!-- LOADING -->
                    <apex:actionStatus id="myStatus" style="align: right;">
                        <apex:facet name="start">
                            <img src="{!URLFOR($Resource.ISSM_LoadingImage)}" style="height: 60px; width: 60px;" />
                            <!-- <img src="{!URLFOR($Resource.ISSM_LoadingImg)}" style="height: 60px; width: 60px;" /> -->
                        </apex:facet>
                    </apex:actionStatus>
                    
                    <apex:pageMessages />
                </apex:outputPanel>
            </apex:form>
        </body>
    </html>
</apex:page>