<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0"   standardcontroller="ONCALL__Call__c" extensions="ISSM_OrderList_ctr" >
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Order List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <apex:includeScript value="/support/console/40.0/integration.js"/>                        
    <apex:slds />    
</head>
    <script type="text/javascript">
        var StrId;
        var strName;
        function MainOpenSubtab(OrderId,OrderName) {
            StrId   = OrderId;
            strName = OrderName;
            sforce.console.getEnclosingPrimaryTabId(openSubtab);
        }
        
        var openSubtab = function openSubtab(result) {
            var primaryTabId = result.id;
            sforce.console.openSubtab(primaryTabId , '/'+StrId, true, 
                strName, null);
        };
    </script>
    <body>            
        <div class="slds-scope"> 
            <div class="slds-page-header slds-page-header_object-home">
                <div class="slds-grid">
                    <!-- <div class="slds-col slds-has-flexi-truncate"> -->
                        <div class="slds-media slds-no-space slds-grow">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-standard-account">
                                    <a class="slds-text-link--reset">
                                        <svg aria-hidden="true" class="slds-icon slds-icon-standard-account slds-icon--medium">
                                            <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#account')}">
                                            </use>
                                        </svg>
                                    </a>
                                </span>

                            </div>
                            <div class="slds-media__body">
                                <p class="slds-text-title_caps slds-line-height_reset">POC</p>
                                <h1 class="slds-page-header__title slds-p-right_x-small">
                                    <span class="slds-grid slds-has-flexi-truncate slds-grid_vertical-align-center">
                                        <a class="slds-text-link--reset">
                                            <span class="slds-truncate" title="Name of POC">{!OrderListItem.ONCall__POC__r.Name}</span>
                                            <svg class="slds-button__icon slds-button__icon_right slds-no-flex " aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                        </a>
                                    </span>
                                </h1>                           
                            </div>
                        </div>
                    <!-- </div> -->
                    <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom_xx-small">
                        <div class="slds-button-group" role="group">
                            <apex:form >
                            <br/>
                            </apex:form>    
                        </div>
                    </div>
                </div>              
            </div>

            <!-- CARD BODY = TABLE -->
            <div class="slds-col slds-col-rule--right slds-p-right--large slds-size--1-of-1">                    

            <div class="slds-card__body">
                <table class="slds-table slds-table--bordered slds-no-row-hover slds-table--cell-buffer">
                    <thead>                                    
                        <div class="slds-card__header slds-grid">
                            <header class="slds-media slds-media--center slds-has-flexi-truncate">
                                <div class="slds-media__figure">
                                    <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--medium">
                                        <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#contact')}"></use>
                                    </svg>
                                </div>
                                <div class="slds-media__body slds-truncate">
                                    <span class="slds-text-heading--small">{!$ObjectType.ONTAP__Order__c.Label}</span>    
                                    <div class="slds-col slds-align-bottom">
                                    </div>                                          
                                </div>                                      
                            </header>
                        </div>

                        <tr class="slds-text-heading--label slds-text-color_weak">
                            <th>{!$ObjectType.ONTAP__Order__c.fields.ONCALL__SAP_Order_Number__c.Label}</th>
                            <th class="slds-size--1-of-5" scope="col">{!$ObjectType.ONTAP__Order__c.fields.Name.Label}</th>
                            <th class="slds-size--1-of-5" scope="col">{!$ObjectType.ONTAP__Order__c.fields.ONCALL__Origin__c.Label}</th>       
                            <th class="slds-size--1-of-5" scope="col">{!$ObjectType.ONTAP__Order__c.fields.ONTAP__BeginDate__c.Label}</th>
                            <th class="slds-size--1-of-5" scope="col">{!$ObjectType.ONTAP__Order__c.fields.ONTAP__DeliveryDate__c.Label}</th>
                            <th class="slds-size--1-of-5" scope="col">{!$ObjectType.ONTAP__Order__c.fields.ONTAP__OrderStatus__c.Label}</th>
                        </tr>
                    </thead>
                    <tbody>     
                        <apex:repeat value="{!OrderList}" var="ol">
                        <tr class="slds-hint-parent">
                            <td class="slds-size--1-of-5">
                                <apex:outputField styleClass="slds-item_detail" value="{!ol.ONCALL__SAP_Order_Number__c}"/>
                            </td>
                            <td class="slds-size--1-of-5" scope="row">

                                <a href="" onclick="MainOpenSubtab('{!ol.Id}','{!ol.Name}')">                                     
                                    <apex:outputField styleClass="slds-item_detail" value="{!ol.Name}"/>
                                </a>
                            </td>
                            <td class="slds-size--1-of-5">
                                <apex:outputField styleClass="slds-item_detail" value="{!ol.ONCALL__Origin__c}"/>
                            </td>
                            <td class="slds-size--1-of-5">
                                <apex:outputField styleClass="slds-item_detail" value="{!ol.ONTAP__BeginDate__c}"/>
                            </td>
                            <td class="slds-size--1-of-5">
                                <apex:outputText styleClass="slds-item_detail" value="{0,date,dd/MM/yyyy}">
                                <apex:param value="{!DATEVALUE(ol.ONTAP__DeliveryDate__c)}" /> 
                            </apex:outputText>                            
                            </td>   
                            <td class="slds-size--1-of-5">
                                <apex:outputField styleClass="slds-item_detail slds-truncate" value="{!ol.ONTAP__OrderStatus__c}"/>
                            </td>                                   
                        </tr>
                        </apex:repeat>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </body>
</html>
</apex:page>