<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" Controller="ISSM_SearchAccount_ctr">
   <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en" style="background: white;">
      <head>
         <meta charset="utf-8" />
         <meta http-equiv="x-ua-compatible" content="ie=edge" />
         <title>Call List</title>
         <meta name="viewport" content="width=device-width, initial-scale=1" />
         <apex:includeScript value="/support/console/40.0/integration.js"/>
         <apex:slds />
      </head>
      <script language="javascript">
         window.onload = new function() 
         { 
            // bring popup window to front
            window.focus(); 
            var ele=document.getElementById('{!$Component.form.block.section.query}');
            if (ele)
            {
               ele.focus();
            }
         }
         
         function fillIn(name, id)
         {
            var winMain=window.opener;
            if (null==winMain)
            {
               winMain=window.parent.opener;
            }
            var ele=winMain.document.getElementById('{!$CurrentPage.parameters.namefield}');
            ele.value=name;
            ele=winMain.document.getElementById('{!$CurrentPage.parameters.idfield}');
            ele.value=id;
            
            CloseWindow();
         }
         
         function CloseWindow()
         {
            var winMain=window.opener;
            if (null==winMain)
            {
               winMain=window.parent.opener;
            }
            winMain.closeLookupPopup();
         }
      </script>
      <body>
         <div class="slds-scope">
            <!-- ENCABEZADO -->
            <apex:form id="mainForm">
               <apex:pageBlock mode="mainDetail">
                  <apex:pageBlockSection collapsible="false" columns="1">
                     <apex:outputPanel >
                        <div class="slds-page-header">
                           <div class="slds-grid">
                              <div class="slds-col slds-has-flexi-truncate">
                                 <div class="slds-media slds-no-space slds-grow">
                                    <div class="slds-media__figure">
                                       <span class="slds-icon_container slds-icon-standard-account">
                                          <svg class="slds-icon" aria-hidden="true">
                                             <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#account')}"></use>
                                          </svg>
                                       </span>
                                    </div>
                                    <div class="slds-media__body">
                                       <p class="slds-text-title--caps slds-line-height--reset">{!$Label.ISSM_Search}</p>
                                       <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">{!$Label.ISSM_Account}</h1>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </apex:outputPanel>
                  </apex:pageBlockSection>
               </apex:pageBlock>
            </apex:form>
            <!--#######################################################################################################-->
            <!--  -->
            <apex:form id="form" >
               <apex:actionFunction name="runQuery" action="{!runQuery}" status="processing" reRender="MainPanel"/>
               <apex:actionStatus id="processing">
                  <apex:facet name="start">
                     <div class="slds-spinner_container">
                        <div class="slds-spinner--brand slds-spinner slds-spinner--medium" role="alert">
                           <span class="slds-assistive-text">Procesando</span>
                           <div class="slds-spinner__dot-a"></div>
                           <div class="slds-spinner__dot-b"></div>
                        </div>
                     </div>
                  </apex:facet>
               </apex:actionStatus>
               <div style="width: 100%">
                  <!--CONTIENE EL INPUT PARA INGRESAR EL PARAMETRO DE BUSQUEDA-->
                  <apex:pageBlock id="block">
                     <br/>
                     <center>
                        <div class="slds-text-title--caps" style="color: #0070d2;">{!$Label.ISSM_EnterAccount}</div>
                        <br/>
                        <table style="width: 25%;">
                           <thead>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>
                                    <apex:inputText value="{!query}" id="query" styleClass="slds-input" />
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <br/>
                        <button type="button" class="slds-button slds-button--neutral" onclick="runQuery();">
                           <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                              <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#search')}"></use>
                           </svg>
                           {!$Label.ISSM_Searchh}
                        </button>
                     </center>
                  </apex:pageBlock>
                  <!--#######################################################################################################-->
               </div>
               <apex:outputPanel id="MainPanel">
               <!--CONTIENE EL LISTADO DE MENSAJES DE ERROR  -->
               <apex:outputPanel rendered="{!LstErr.size <> 0}">
                  <div class="demo-only" style="height: 3rem;">
                     <div class="slds-notify_container slds-is-relative" style="font-size: x-small;">
                        <div class="slds-notify slds-notify_toast slds-theme_error" role="alert" id="IdAlert">
                           <apex:repeat value="{!LstErr}" var="ErrMsg">
                              {!ErrMsg}
                           </apex:repeat>
                        </div>
                     </div>
                  </div>
               </apex:outputPanel>
               <!--#######################################################################################################-->
                  <br/>
                  <!--CONTIENE EL LISTADO DE CUENTAS DEVUELTAS POR EL CONTROLADOR-->
                  <apex:pageBlock >
                        <apex:pageBlockTable value="{!LstAcc}" var="account" styleClass="slds-table slds-table_bordered slds-table_cell-buffer">
                           <apex:column headerValue="Nombre">
                              <apex:outputLink value="#" onclick="fillIn('{!account.Name}', '{!account.id}')">{!account.Name}</apex:outputLink>
                           </apex:column>
                           <apex:column headerValue="{!$ObjectType.Account.fields.ONTAP__SAP_Number__c.Label}" value="{!account.ONTAP__SAP_Number__c}"/>
                           <apex:column headerValue="{!$ObjectType.Account.fields.ONTAP__SalesOffId__c.Label}" value="{!account.ONTAP__SalesOffId__c}"/>
                        </apex:pageBlockTable>
                  </apex:pageBlock>
                  <!--#######################################################################################################-->
               </apex:outputPanel>
            </apex:form>
         </div>
      </body>
   </html>
</apex:page>