<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0"   controller="ISSM_OutRouteCalls_ctr">
   <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en" style="background: white;">
      <head>
         <meta charset="utf-8" />
         <meta http-equiv="x-ua-compatible" content="ie=edge" />
         <title>Call List</title>
         <meta name="viewport" content="width=device-width, initial-scale=1" />
         <apex:includeScript value="/support/console/40.0/integration.js"/>
         <apex:slds />
      </head>
      <script type="text/javascript">
         function cancel(){
          sforce.console.getFocusedPrimaryTabId(closeTabId);
         }
         var closeTabId = function showTabId(result) {
             sforce.console.closeTab(result.id);
           };
         
           var newWin=null;
           function openLookupPopup(name, id){
               var url="/apex/ISSM_SearchAccount_pag?namefield=" + name + "&idfield=" + id;
               newWin=window.open(url, 'Popup','height=500,width=600,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,status=no');
               if (window.focus){
                   newWin.focus();
               }
               return false;
           }
           function closeLookupPopup(){
             if (null!=newWin){
               newWin.close();
             }  
           }
      </script>
      <body>
         <div class="slds-scope">
            <!--ENCABEZADO-->
            <apex:form >
               <apex:pageBlock mode="mainDetail">
                  <apex:pageBlockSection collapsible="false" columns="1">
                     <apex:outputPanel >
                        <div class="slds-page-header">
                           <div class="slds-grid">
                              <div class="slds-col slds-has-flexi-truncate">
                                 <div class="slds-media slds-no-space slds-grow">
                                    <div class="slds-media__figure">
                                       <span class="slds-icon_container slds-icon_container_circle slds-icon-action-description">
                                          <svg class="slds-icon" aria-hidden="true">
                                             <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#call')}"></use>
                                          </svg>
                                       </span>
                                    </div>
                                    <div class="slds-media__body">
                                       <p class="slds-text-title--caps slds-line-height--reset">{!$Label.ISSM_Calls}</p>
                                       <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">{!$Label.ISSM_OutRoute}</h1>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </apex:outputPanel>
                  </apex:pageBlockSection>
               </apex:pageBlock>
            </apex:form>
            <!--##########################################################################################################-->
            <apex:form id="theForm">
               <!--LISTA DE MENSAJES DE ERROR-->
               <apex:outputPanel rendered="{!LstScc.size > 0}">
                  <div class="demo-only" style="height: 3rem;">
                     <div class="slds-notify_container slds-is-relative">
                        <div class="slds-notify slds-notify_toast slds-theme_error" role="alert" id="IdAlert">
                           <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top">
                              <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                 <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#error')}"/>
                              </svg>
                           </span>
                           <apex:repeat value="{!LstScc}" var="SccMsg">
                              <script type="text/javascript">
                                 document.getElementById('IdAlert').className = 'slds-notify slds-notify_toast slds-theme_success';
                              </script>
                              {!SccMsg}
                           </apex:repeat>
                        </div>
                     </div>
                  </div>
               </apex:outputPanel>
               <apex:outputPanel rendered="{!LstErr.size > 0}">
                  <div class="demo-only" style="height: 3rem;">
                     <div class="slds-notify_container slds-is-relative">
                        <div class="slds-notify slds-notify_toast slds-theme_error" role="alert" id="IdAlert">
                           <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top">
                              <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                 <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#error')}"/>
                              </svg>
                           </span>
                           <apex:repeat value="{!LstErr}" var="ErrMsg">
                              {!ErrMsg}
                           </apex:repeat>
                        </div>
                     </div>
                  </div>
               </apex:outputPanel>
               <!--##########################################################################################################-->
               <apex:actionFunction name="addNewRowToCallList" action="{!addNewRowToCallList}" status="status"/>
               <apex:actionFunction name="SaveMultipleCalls" action="{!SaveMultipleCalls}" status="status"/>
               <apex:pageblock id="thePB">
                  <br/>
                  <!--CONTIENE LA SECCION PARA AGREGAR O QUITAR LLAMADAS-->
                  <apex:outputPanel id="callHead">
                     <apex:variable value="{!0}" var="rowNum"/>
                     <apex:pageBlockTable value="{!waCallList}" var="eachRecord" styleClass="slds-table slds-table_bordered slds-table_cell-buffer">
                        <apex:column headerValue="{!$Label.ISSM_Status}" style="padding-top: 5px;">
                           <apex:outputText value="{!$Label.ISSM_PendingCall2}">
                           </apex:outputText>
                        </apex:column>
                        <apex:column headerValue="{!$Label.ISSM_StartDate}" style="padding-top: 5px;">
                           <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                              <apex:param value="{!today()}"/>
                           </apex:outputText>
                        </apex:column>
                        <apex:column headerValue="{!$Label.ISSM_Account}" style="padding-top: 5px;">
                           <apex:inputHidden value="{!eachRecord.record.ONCALL__POC__c}" id="targetId" />
                        
                           <apex:inputText size="40" value="{!eachRecord.StrName}" id="targetName" disabled="false" styleClass="slds-input" onclick="openLookupPopup('{!$Component.targetName}', '{!$Component.targetId}');" html-placeholder="{!$Label.ISSM_PlaceHolder1}">
                           <abbr class="slds-required" style="font-size: 20px;">*</abbr>
                           </apex:inputText>
                        </apex:column>
                        <apex:column headerValue="{!$Label.ISSM_Action}" style="padding-top: 5px;">
                           <apex:commandLink value="{!$Label.ISSM_Remove}" style="color:red" action="{!removeRowFromCallList}" reRender="callHead" immediate="true">
                              <apex:param value="{!rowNum}" name="rowToRemove" assignTo="{!rowToRemove}"/>
                           </apex:commandLink>
                           <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                        </apex:column>
                     </apex:pageBlockTable>
                  </apex:outputPanel>
                  <!--##########################################################################################################-->
                  <br/>
                  <!--CONTIENE LOS BOTONES CON LAS ACCIONES Agregar, Guardar, Cancelar-->
                  <div align="center">
                     <button type="button" class="slds-button slds-button--neutral" onclick="addNewRowToCallList();">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                           <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#add')}"></use>
                        </svg>
                        {!$Label.ISSM_Add}  
                     </button>
                     <button type="button" class="slds-button slds-button--brand" onclick="SaveMultipleCalls();" onsubmit="">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                           <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#save')}"></use>
                        </svg>
                        {!$Label.ISSM_Save}
                     </button>
                     <button type="button" class="slds-button slds-button_destructive" onclick="cancel();">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                           <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                        </svg>
                        {!$Label.ISSM_CancelButton}
                     </button>
                  </div>
                  <!--##########################################################################################################-->
               </apex:pageblock>
            </apex:form>
         </div>
      </body>
   </html>
</apex:page>