<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" standardController="Account" extensions="ISSM_StartPageAccount_ctr" action="{!startPage}">
  <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>Salesforce</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <apex:includeScript value="/support/console/40.0/integration.js"/>  
      <apex:slds />
    </head>
    <script type="text/javascript">
      var RefreshTabId = function showTabId(result){
        sforce.console.disableTabClose(false, result.id);
      };

      function refreshTab(){
        sforce.console.getFocusedPrimaryTabId(RefreshTabId);
      }
    </script>
      <body onload="refreshTab();"> 
         <!--DIV Prinipal-->
        <div class="slds-scope">
          <div>
            <div class="slds-notify_container" style="position:relative;">
              <apex:outputPanel rendered="{!lstSucc.size <> 0}">
                <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                  <ul>
                    <apex:repeat value="{!lstSucc}" var="strMsg">
                    <li>
                      {!strMsg}                                 
                    </li>
                    </apex:repeat>
                  </ul>
                </div>
              </apex:outputPanel>        
              <apex:outputPanel rendered="{!LstMissedFields.size > 0}">
                <div class="demo-only" style="height: 640px;">
                  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                      <header class="slds-modal__header">                          
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                          {!$Label.ISSM_MissedFields}
                        </h2>
                      </header>
                      <div align="left" class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <apex:repeat value="{!LstMissedFields}" var="strMsg">
                          <li>
                            {!strMsg}                                 
                          </li>
                        </apex:repeat>
                      </div>
                    </div>
                  </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>
              </apex:outputPanel>
            </div>
          </div>

          <div>
            <apex:outputPanel rendered="{!!BlnHaveOrder}">
              <apex:include pageName="ISSM_OrderListAccount_pag"/>
            </apex:outputPanel>
          </div>
        
        </div>
      </body>
  </html>
</apex:page>