<apex:page standardController="ONTAP__Route__c">
    <body>
        <apex:form >
            <apex:pageMessage severity="{!IF(ONTAP__Route__c.ISSM_SkipVisitListCreation__c,'error','confirm')}" strength="3"  
                              title="{!IF(ONTAP__Route__c.ISSM_SkipVisitListCreation__c,'La ruta se encuentra desactivada para la generación de visitas.',
                                     'La ruta está activa para generación de visitas')}">
                <span style="font-size:15px; margin-left:20px;font-weight:bold;">
                    <apex:outputLabel for="skipVisit" value="{!IF(ONTAP__Route__c.ISSM_SkipVisitListCreation__c,'Activar Ruta',
                                     'Desactivar Ruta')}" ></apex:outputLabel>&nbsp;
                    <apex:inputField id="skipVisit" value="{!ONTAP__Route__c.ISSM_SkipVisitListCreation__c}" styleClass="btn" >
                        <apex:actionSupport event="onchange" action="{!quickSave}" />
                    </apex:inputField>
                </span>
            </apex:pageMessage>
        </apex:form>
    </body>
</apex:page>