<apex:page showHeader="false" standardStylesheets="false" sidebar="false" docType="html-5.0" controller="ISSM_BDRTaskAssignment_cls" applyBodyTag="False" applyHtmlTag="False">
    <head>
        <title>PriorizApp</title>
        <apex:slds />
        
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
        <script src="{!URLFOR($Resource.aljs, '/jquery.aljs-all-with-moment.min.js')}">
        </script>
        <apex:stylesheet value="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
        <apex:includeScript value="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"/>
        
        
        <script type="text/javascript">
        var __sfdcSessionId = '{!GETSESSIONID()}';
        </script>
        <script src="/soap/ajax/30.0/connection.js" type="text/javascript">
        </script>
        <script>
        $.aljsInit({
            assetsLocation: "{!URLFOR($Asset.SLDS, '')}",
            scoped: true,
            scopingClass: 'slds-scope'
        });
        </script>
        <script>
        var j$ = jQuery.noConflict();
        j$(document).ready(function() {
            initLookup();
        });
        function initDate(){
            j$('[id$=activityDate]').datepicker({
                format: 'DD/MM/YYYY',
                initDate: moment()});
        };
        function initDataTablePaginator(){
            console.log("data paginator init");            
            oTable = j$('[id$=acctDecorator_dTable]').dataTable();
        };
        
        var queryUser = function(queryParameter){
            var recordsBDR=[];
            var resultsBDR; 
            resultsBDR = sforce.connection.query("SELECT Id,Name FROM User WHERE UserRole.Name like 'Fuerza de Ventas%' AND (Name like'%"+queryParameter+"%' OR ONTAP__SAPUserId__c like '%"+queryParameter+"%')");
            for (var i=0; i< resultsBDR.getArray("records").length; i++) {
                var record = resultsBDR.getArray("records")[i];
                recordsBDR.push({id: record.Id, label: record.Name, metaLabel: ''});
            }
            return recordsBDR;
        }
        var queryAccount = function(recordType,id){
            var recordsDRV=[];
            var resultsDRV;
            if(id === null){
                resultsDRV = sforce.connection.query("SELECT Id,Name,ONTAP__SalesOfficeDescription__c,ONTAP__SalesOffId__c FROM Account WHERE RecordType.DeveloperName='"+recordType+"'");
            }else if(recordType != null && id != null){
                resultsDRV = sforce.connection.query("SELECT Id,Name,ONTAP__SalesOfficeDescription__c,ONTAP__SalesOffId__c FROM Account WHERE RecordType.DeveloperName='"+recordType+"' AND (ISSM_ParentAccount__c = '"+id+"' OR ParentId = '"+id+"')");
            }
            for (var i=0; i< resultsDRV.getArray("records").length; i++) {
                var record = resultsDRV.getArray("records")[i];
                if(recordType == "SalesOffice"){
                    recordsDRV.push({id: record.ONTAP__SalesOffId__c, label: record.ONTAP__SalesOfficeDescription__c, metaLabel: ''});
                }else{
                    recordsDRV.push({id: record.Id, label: record.Name, metaLabel: ''});
                }
            }
            return recordsDRV;
        };
        function initLookup(){
            j$('#DRV_lookup').lookup({
                items: queryAccount("ISSM_RegionalSalesDivision",null),
                onChange: function(){
                    var lk$ = j$('#DRV_lookup').lookup('getSelection');
                    if(j$('#DRV_lookup').lookup('getSelection') != null){
                        j$('#SalesOrg_lookup').removeAttr('disabled');
                    }else {
                        j$('#SalesOrg_lookup').attr('disabled','disabled');
                        j$('#SalesOrg_lookup').lookup('setSelection', []);
                        passStep(0);
                        reset();
                    }
                }
            });
            j$('#SalesOrg_lookup').lookup({
                items: [],
                emptySearchTermQuery: function (callback) {if(j$('#DRV_lookup').lookup('getSelection')) callback(queryAccount("SalesOrg",j$('#DRV_lookup').lookup('getSelection').id)); },
                filledSearchTermQuery: function (searchTerm, callback) { callback(queryAccount("SalesOrg",j$('#DRV_lookup').lookup('getSelection').id)); },
                onChange: function(){
                    if(j$('#SalesOrg_lookup').lookup('getSelection') != null){
                        j$('#SalesOffice_lookup').removeAttr('disabled');
                    }else {
                        j$('#SalesOffice_lookup').attr('disabled','disabled');
                        j$('#SalesOffice_lookup').lookup('setSelection', []);
                        passStep(0);
                        reset();
                    }
                },
                showSearch:true
            });
            j$('#SalesOffice_lookup').lookup({
                items: [],
                emptySearchTermQuery: function(callback){if(j$('#SalesOrg_lookup').lookup('getSelection')!=null)callback(queryAccount("SalesOffice",j$('#SalesOrg_lookup').lookup('getSelection').id)); },
                filledSearchTermQuery: function(searchTerm, callback){callback(queryAccount("SalesOffice",j$('#SalesOrg_lookup').lookup('getSelection').id)); },
                onChange: function(){
                    if(j$('#SalesOffice_lookup').lookup('getSelection') != null){
                        passSearchString(j$('#SalesOffice_lookup').lookup('getSelection').id);
                    }else{
                        j$('[id$=nextButton]').attr('disabled','disabled');
                        passStep(0);
                        reset();
                    }
                }
            });
            j$('#BDR_lookup').lookup({
                items: [],
                filledSearchTermQuery: function(searchTerm, callback){callback(queryUser(searchTerm)); },
                onChange: function(){
                    if(j$('#BDR_lookup').lookup('getSelection') != null){
                        passSearchString(j$('#BDR_lookup').lookup('getSelection').id);
                    }else{
                        j$('[id$=nextButton]').attr('disabled','disabled');
                        passStep(0);
                        reset();
                    }
                }
            });
        };
        function toggleContent(action,contentId,isApex){
            if(action=='hide'){
                if(isApex){
                    j$('#'+contentId).css('display','none');
                }else{
                    j$('[id$='+contentId+']').css('display','none');
                }
            }else{
                reset();
                if(isApex){
                    j$('#'+contentId).css('display','block');
                }else{
                    j$('[id$='+contentId+']').css('display','block');
                }
            }
        };
        function selectItems(){
            if(j$('#selectAll').prop('checked') ) {
                setSelection(true);
            }else{
                setSelection(false);
            }
        };
        </script>
    </head>
    <body class="slds-scope">
        <apex:form id="mainForm">
            <!-- action functions to be called -->
            <apex:actionFunction name="rerenderButtonSec" reRender="nextButtonSec"  />
            <apex:actionFunction name="selectAllAcc" action="{!selectAll}" reRender="resultsPanel" oncomplete="initDataTablePaginator();j$('#selectAll').prop('checked',{!selectAll});rerenderButtonSec();"></apex:actionFunction>
            <apex:actionFunction name="nextStep" action="{!nextStep}" reRender="resultsPanel" oncomplete="initDataTablePaginator();" />
            <apex:actionFunction name="reset" action="{!reset}" reRender="resultsPanel,nextButtonSec" />
            <apex:actionFunction name="setSelection" reRender="self" oncomplete="selectAllAcc()">
                <apex:param name="slct" assignTo="{!selectAll}" value="" />
            </apex:actionFunction>
            <apex:actionFunction name="passSearchString" reRender="self" oncomplete="nextStep()">
                <apex:param name="p1" value="" assignTo="{!searchString_str}" />
            </apex:actionFunction>
            <apex:actionFunction name="passStep" reRender="self" oncomplete="">
                <apex:param name="p2" value="" assignTo="{!step_int}" />
            </apex:actionFunction>
            
            
            <!-- MAIN CONTAINER -->
            <apex:outputPanel id="outputHeader" layout="block" styleClass="slds-page-header">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-task" title="">
                            <svg class="slds-icon slds-icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#task')}"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="aaa">PriorizApp</h1>
                        <p class="slds-text-body_small slds-line-height_reset">{!$Label.ISSM_PriorizappTitle}</p>
                    </div>
                    <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom_xx-small"></div>
                </div>
                <apex:outputPanel id="message" layout="block" style="{!IF(message_str!='','','visibility : hidden;')}" >
                    <div class="slds-notify_container slds-is-relative">
                        <div class="slds-notify slds-notify_toast slds-theme_info" role="alert">
                            <span class="slds-assistive-text"></span>
                            <span class="slds-icon_container slds-icon-utility-info slds-m-right_small slds-no-flex slds-align-top" title="">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#info')}"></use>
                                </svg>
                            </span>
                            <div class="slds-notify__content">
                                <h2 class="slds-text-heading_small">{!message_str}</h2>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
                <apex:outputPanel layout="block" id="mainContainer">
                    <article class="slds-card" style="background-color:white">
                        <apex:outputPanel layout="block" styleClass="slds-card__header slds-grid" id="headerWButtons">
                            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                <div class="slds-media__figure">
                                    <span class="slds-icon_container slds-icon-standard-apps" title="">
                                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#forecasts')}" />
                                        </svg>
                                    </span>
                                </div>
                                <div class="slds-media__body">
                                    <h2>
                                        <span class="slds-text-heading_small">{!$Label.ISSM_ScopeOptionSearch}</span>
                                    </h2>
                                </div>
                            </header>
                            <div class="slds-no-flex">
                                <apex:commandButton styleClass="slds-button slds-button_neutral" value="{!$Label.ISSM_ByDRVbuttonlabel}" rendered="{!searchOption_str != 'DRV'}" reRender="headerWButtons" 
                                                    oncomplete="toggleContent('show','DRVlookupsForm',false);toggleContent('hide','BDRlookupsForm',false);toggleContent('hide','PDVlookupsForm',false);">
                                    <apex:param assignTo="{!searchOption_str}" value="DRV"/>
                                </apex:commandButton>
                                <apex:commandButton styleClass="slds-button slds-button_neutral" value="{!$Label.ISSM_ByBDRbuttonlabel}" rendered="{!searchOption_str != 'BDR'}"  reRender="headerWButtons" 
                                                    oncomplete="toggleContent('hide','DRVlookupsForm',false);toggleContent('show','BDRlookupsForm',false);toggleContent('hide','PDVlookupsForm',false);">
                                    <apex:param assignTo="{!searchOption_str}" value="BDR"/>
                                </apex:commandButton>
                                <apex:commandButton styleClass="slds-button slds-button_neutral" value="{!$Label.ISSM_ByPDVbuttonlabel}" rendered="{!searchOption_str != 'PDV'}" reRender="headerWButtons" 
                                                    oncomplete="toggleContent('hide','DRVlookupsForm',false);toggleContent('hide','BDRlookupsForm',false);toggleContent('show','PDVlookupsForm',false);">
                                    <apex:param assignTo="{!searchOption_str}" value="PDV"/>
                                </apex:commandButton>
                            </div>
                        </apex:outputPanel>
                        
                        <div class="slds-card__body slds-card__body_inner">
                            <!----------------------SEARCH BY DRV----------------------------------->
                            <div class="slds-form-element" id="DRVlookupsForm">
                                <div class="slds-form-element__control">
                                    <label class="slds-form-element__label" for="input-unique-id">{!$ObjectType.Account.fields.ISSM_RegionalSalesDivisionName__c.Label}</label>
                                    <div id="salesOffice_input" class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                        <div class="slds-form-element slds-lookup" data-select="single" data-scope="single">
                                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                                <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#search')}"></use>
                                                </svg>
                                                <input id="DRV_lookup" class="slds-lookup__search-input slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="false" aria-activedescendant="" placeholder="{!$Label.ISSM_SearchDRVPlaceholder}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="input-unique-id">{!$ObjectType.Account.fields.ONTAP__Business_Unit__c.Label}</label>
                                    <div id="salesOffice_input" class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                        <div class="slds-form-element slds-lookup" data-select="single" data-scope="single">
                                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                                <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#search')}"></use>
                                                </svg>
                                                <input disabled="true" id="SalesOrg_lookup" class="slds-lookup__search-input slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="false" aria-activedescendant="" placeholder="{!$Label.ISSM_SearchSalesOrgPlaceholder}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="input-unique-id">{!$ObjectType.Account.fields.ISSM_SalesOffice__c.Label}</label>
                                    <div id="salesOffice_input" class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                        <div class="slds-form-element slds-lookup" data-select="single" data-scope="single">
                                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                                <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#search')}"></use>
                                                </svg>
                                                <input disabled="true" id="SalesOffice_lookup" class="slds-lookup__search-input slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="false" aria-activedescendant="" placeholder="{!$Label.ISSM_SearchSalesOfficePlaceholder}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----------------------SEARCH BY BDR----------------------------------->
                            <div class="slds-form-element" id="BDRlookupsForm" style="display:none">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="input-unique-id">{!$ObjectType.User.fields.Name.Label}</label>
                                    <div id="salesOffice_input" class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                        <div class="slds-form-element slds-lookup" data-select="single" data-scope="single">
                                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                                <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#search')}"></use>
                                                </svg>
                                                <input id="BDR_lookup" class="slds-lookup__search-input slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="false" aria-activedescendant="" placeholder="{!$Label.ISSM_SearchUserPlaceholder}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----------------------SEARCH BY PDV----------------------------------->
                            <div class="slds-form-element" id="PDVlookupsForm" style="display:none">
                                <label class="slds-form-element__label" for="input-unique-id">{!$ObjectType.Account.fields.Name.Label} / {!$ObjectType.Account.fields.ONTAP__SAPCustomerId__c.Label}</label>
                                <div class="slds-form-element">
                                    <apex:inputText value="{!searchAccString_str}" styleClass="slds-input" onkeyup="nextStep();" />
                                </div>
                            </div>
                            <!----------------------RESULTS PANEL----------------------------------->
                            <apex:outputPanel layout="block" id="resultsPanel">
                                <br/>
                                <article class="slds-card" style="{!IF(OR(usrDecorator_lst.size>0,acctDecorator_lst.size>0),'','display:none;')}">
                                    <div class="slds-card__header slds-grid">
                                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                            <div class="slds-media__figure">
                                                <span class="slds-icon_container slds-icon-standard-groups" title="">
                                                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#groups')}"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="slds-media__body">
                                                <h2>
                                                    <span class="slds-text-heading_small">{!$Label.ISSM_SearchResultsLabel} ({!IF(usrDecorator_lst.size>0,usrDecorator_lst.size,IF(acctDecorator_lst.size>0,acctDecorator_lst.size,0))})</span>
                                                </h2>
                                            </div>
                                        </header>
                                        <div class="slds-no-flex"></div>
                                    </div>
                                    <div class="slds-card__body" >
                                        <apex:dataTable value="{!usrDecorator_lst}" styleClass="slds-table slds-table_bordered slds-table_cell-buffer" var="usr" rendered="{!usrDecorator_lst.size>0}">
                                            <apex:column >
                                                <apex:facet name="header">
                                                    <span class="slds-checkbox">
                                                        <input type="checkbox" name="options" id="selectAll" tabindex="-1" onchange="selectItems()" />
                                                        <label class="slds-checkbox__label" for="selectAll">
                                                            <span class="slds-checkbox_faux"></span>
                                                            <span class="slds-form-element__label slds-assistive-text"></span>
                                                        </label>
                                                    </span>
                                                </apex:facet>
                                                <label class="slds-checkbox">
                                                    <apex:inputCheckbox value="{!usr.selected_bln}" id="usrChk" tabindex="-1" onchange="rerenderButtonSec()" />
                                                    <span class="slds-checkbox_faux"></span>
                                                    <span class="slds-form-element__label slds-assistive-text"></span>
                                                </label>
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.User.fields.Name.Label}</apex:facet>
                                                <apex:outputField value="{!usr.user_obj.Name}" />
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.User.fields.ONTAP__SAPUserId__c.Label}</apex:facet>
                                                <apex:outputField value="{!usr.user_obj.ONTAP__SAPUserId__c}" />
                                            </apex:column>
                                        </apex:dataTable>
                                        <apex:dataTable id="acctDecorator_dTable" value="{!acctDecorator_lst}" styleClass="slds-table slds-table_bordered slds-table_cell-buffer" var="acct" rendered="{!acctDecorator_lst.size>0}">
                                            <apex:column >
                                                <apex:facet name="header">
                                                    <span class="slds-checkbox">
                                                        <input type="checkbox" name="options" id="selectAll" tabindex="-1" onchange="selectItems()" />
                                                        <label class="slds-checkbox__label" for="selectAll">
                                                            <span class="slds-checkbox_faux"></span>
                                                            <span class="slds-form-element__label slds-assistive-text"></span>
                                                        </label>
                                                    </span>
                                                </apex:facet>
                                                <label class="slds-checkbox">
                                                    <apex:inputCheckbox value="{!acct.selected_bln}" id="usrChk" tabindex="-1" onchange="rerenderButtonSec()" />
                                                    <span class="slds-checkbox_faux"></span>
                                                    <span class="slds-form-element__label slds-assistive-text"></span>
                                                </label>
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.Account.fields.Name.Label}</apex:facet>
                                                <apex:outputField value="{!acct.account_obj.Name}" />
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.Account.fields.ONTAP__SAPCustomerId__c.Label}</apex:facet>
                                                <apex:outputField value="{!acct.account_obj.ONTAP__SAPCustomerId__c}" />
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.User.fields.Name.Label}</apex:facet>
                                                <apex:outputField value="{!acct.account_obj.Owner.Name}" />
                                            </apex:column>
                                        </apex:dataTable>
                                    </div>
                                </article>
                            </apex:outputPanel>
                        </div>
                        <footer class="slds-card__footer">
                            <apex:outputPanel layout="block" id="nextButtonSec"> 
                                <apex:commandButton id="nextButton" disabled="{! !CheckIfAnySelected}" value="{!$Label.ISSM_CreateTaskButtonLabel}" 
                                                    styleClass="slds-button slds-button_brand" action="{!nextStep}" reRender="taskModal,message" oncomplete="initDate()"> </apex:commandButton>
                            </apex:outputPanel>
                        </footer>
                    </article>
                </apex:outputPanel>
            </apex:outputPanel>
            <!---------------------- MODAL PANEL----------------------------------->
            <apex:outputPanel id="taskModal" > 
                <apex:outputPanel layout="block" rendered="{!step_int==1}">
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{!$Label.ISSM_CreateNewTaskModalTitle}</h2>
                                <p class="slds-m-top_x-small"></p>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="input-unique-id">{!$ObjectType.Task.fields.Subject.Label}</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <apex:selectList styleClass="slds-select" multiselect="false" value="{!taskToFill_obj.Subject}" size="1">
                                                <apex:selectOptions value="{!taskSubject}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                    <label class="slds-form-element__label" for="taskDesc">
                                        <abbr class="slds-required" title="required">*</abbr>{!$ObjectType.Task.fields.Description.Label}</label>
                                    <div class="slds-form-element__control">
                                        <apex:inputField styleClass="slds-textarea" id="taskDesc" value="{!taskToFill_obj.Description}" required="true"/>
                                    </div>
                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label" for="date">{!$ObjectType.Task.fields.ActivityDate.Label}</label>
                                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                            <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#event')}"></use>
                                            </svg>
                                            <apex:input value="{!activityDate_dat}" id="activityDate" styleClass="slds-input"  />
                                        </div>
                                    </div>
                                    <label class="slds-form-element__label" for="input-unique-id">{!$ObjectType.Task.fields.Status.Label}</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <apex:selectList styleClass="slds-select" multiselect="false" value="{!taskToFill_obj.Status}" size="1">
                                                <apex:selectOptions value="{!taskStatus}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                    <label class="slds-form-element__label" for="input-unique-id">{!$ObjectType.Task.fields.Priority.Label}</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <apex:selectList styleClass="slds-select" multiselect="false" value="{!taskToFill_obj.Priority}" size="1">
                                                <apex:selectOptions value="{!taskPriority}"/>
                                            </apex:selectList>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                <apex:commandButton styleClass="slds-button slds-button_neutral"  value="Cancel" action="{!reset}" immediate="true" html-formnovalidate="formnovalidate" />
                                <apex:commandButton styleClass="slds-button slds-button_brand" value="{!$Label.ISSM_AsignTasksButtonLabel}" action="{!nextStep}" reRender="mainForm" oncomplete="initLookup();" />
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </apex:outputPanel>
            </apex:outputPanel>
        </apex:form>
        <!-- TASK FORM MODAL  -->
        
    </body>
</apex:page>