<apex:page language="es_MX" rendered="true" docType="html-5.0" showHeader="false" standardStylesheets="false" sidebar="false" controller="BusinessmanController">
    <apex:stylesheet value="{!$Resource.MDRM_Generalcss}">
    <html> 
        
        <head>
            
            <title></title>
        </head>
        
        <body style="margin: 0;">
            <!-- <nav id="navGeneralHeader">

            <center> 
                    <apex:image url="{!$Resource.logoSabemos}" styleClass="imageGeneralHeader" />
            </center>

        </nav> -->
            
            <div>
                
                <br/>
                <br/>
               
                
            </div>
            <center>
                <apex:form >
                    <apex:pageBlock >
                             <table>
                            <tr>
                                <td><center><apex:pageBlockSection rendered="{!miModelorama}"> <h1 class="form-title">
                                    <!--==title==-->{!$Label.MDRM_BP_AvailableModeloramas} 
                                    </h1></apex:pageBlockSection></center></td>
                            </tr>
                        </table>
                    </apex:pageBlock>
                    <table id="tableProfileForm">
                        <tbody>
                            <!--======tablebody========================-->
                             <tr id = "trProfile">
                                    <td id="tdProfile"><h1 class="form-title">
                                        <!--==title==--> {!$Label.MDRM_BP_ModeloramaData}
                                        </h1></td>
                                    <td id="tdProfile">
                                 		<!--<apex:commandButton value="Guardar" action="{!savetoEnterprise}" rendered="{!miModelorama}" styleClass="buttoncolor2"/>-->
                                    </td>
                                </tr>
  							<!--==tablerow2==-->
                            <tr >
                                

                                <td><h3 class="form-title">
                                    <!--==title==--> 
                                    </h3>
                                </td>
                            </tr>
                            
                            <tr>
                                <!--==tablerow2==-->
                                <!--===============Tablecolumn1==========-->
                                <td id="tdProfile2">
                                    <!--===============d1=================-->
                                    <!--división-->
                                    
                                    <div class="form-group">
                                        <!--nombreEtiqueta-->
                                        <label id="nombresEtiquetasStyle" for="nombre_m">{!$Label.MDRM_BP_Name}
                                        </label>
                                        <!--input-->
                                        
                                        <!--<apex:outputText value="{!model[0].Name}" styleClass="form-label" />-->
                                        <apex:outputText value="{!busWrap.Name}" styleClass="form-label" />
                                        <!--saltolinea-->
                                    </div>
                                    <br />
                                    
                                    <!--===============d3=================-->
                                    <!--división-->
                                    <div class="form-group">
                                        <!--nombreEtiqueta-->
                                        <label id="nombresEtiquetasStyle" for="estado_m">{!$Label.MDRM_BP_Province}</label>
                                        <!--input-->
                                        <!--<apex:outputText value="{!model[0].ONTAP__Province__c}" styleClass="form-label"/>-->
                                        <apex:outputText value="{!busWrap.ONTAP_Province}" styleClass="form-label"/>
                                        <!--saltolinea-->
                                    </div>
                                    <br />
                                    <!--===============d2=================-->
                                    <!--división-->
                                    <div class="form-group" >
                                        <!--nombreEtiqueta-->
                                        <label id="nombresEtiquetasStyle"  for="cp_m">{!$Label.MDRM_BP_PostalCode}
                                        </label>
                                        <!--input-->
                                        <!--<apex:outputText value="{!model[0].ONTAP__PostalCode__c}" styleClass="form-label"/>-->
                                        <apex:outputText value="{!busWrap.ONTAP_PostalCode}" styleClass="form-label"/>
                                    </div>
                                    <br />
                                    <!--===============d4=================-->
                                    <!--división-->
                                    <div class="form-group">
                                        <!--nombreEtiqueta-->
                                        <label id="nombresEtiquetasStyle" for="municipio_m" class="">{!$Label.MDRM_BP_Municipality}</label>
                                        <!--input-->
                                        <!--<apex:outputText value="{!model[0].ONTAP__Municipality__c}" styleClass="form-label"/>-->
                                        <apex:outputText value="{!busWrap.ONTAP_Municipality}" styleClass="form-label"/>
                                        <!--saltolinea-->
                                    </div>
                                    <br />
                                    <!--===============d5=================-->
                                    <!--división-->
                                   <div class="form-group">
                                                <!--nombreEtiqueta-->
                                                <label id="nombresEtiquetasStyle" for="colonia_m">Colonia</label>
                                       			<!--<apex:outputText value="{!model[0].ONTAP__Colony__c}" styleClass="form-label"/>-->
                                               	<apex:outputText value="{!busWrap.ONTAP_Colony}" styleClass="form-label"/>
                                                <!--saltolinea-->
                                            </div>
                                            <br />
                                    <!--===============d6=================-->
                                    <!--división-->
                                    <div class="form-group">
                                        <!--nombreEtiqueta-->
                                        <label id="nombresEtiquetasStyle" for="calle_m">{!$Label.MDRM_BP_Street}</label>
                                        <!--input-->
                                        <!--<apex:outputText value="{!model[0].ONTAP__Street__c}" styleClass="form-label" />-->
                                        <apex:outputText value="{!busWrap.ONTAP_Street}" styleClass="form-label" />
                                        <!--saltolinea-->
                                    </div>
                                    <br />
                                    <!--===============d7=================-->
                                    <!--división-->
                                    <div class="form-group">
                                        <!--nombreEtiqueta-->
                                        <label id="nombresEtiquetasStyle" for="numero_m">{!$Label.MDRM_BP_StreetNumber}</label>
                                        <!--input-->
                                        <!--<apex:outputText value="{!model[0].ONTAP__Street_Number__c}" styleClass="form-label"/>-->
                                        <apex:outputText value="{!busWrap.ONTAP_Street_Number}" styleClass="form-label"/>
                                        <!--saltolinea-->
                                    </div>
                                    <!--column1 end-->
                                
                                    <br/>  
                                
                                </td>
                                
                            </tr>
                            
                            <!--======tablebodyEnd=====-->
                        </tbody>
                        
                        <!--======TableEnd=====-->
                    </table>
                </apex:form>     
            </center>
        </body>
        
        <div>
                 <apex:form >
                 <apex:pageBlock >
                    <center><table>
                            <tr>                                
                                    <td>
                                     <apex:commandButton value="{!$Label.MDRM_BP_Cancel}" rendered="{!miModelorama}" action="{!EnterpriseProfile}" styleClass="buttoncolorIrAlPerfil" />  
                                     <apex:commandButton value="{!$Label.MDRM_BP_Accept}" action="{!savetoEnterprise}" onclick="disableOnSubmit(this);" rendered="{!miModelorama}" styleClass="buttoncolorIrAlPerfil" />
                                     <apex:commandButton value="{!$Label.MDRM_BP_GoToProfile}" rendered="{!!miModelorama}" action="{!backPageEnterpriseProfile}" styleClass="buttoncolorIrAlPerfil" />
                                     <apex:commandLink value="{!$Label.MDRM_BP_AddEmployee}" rendered="{!!miModelorama}" action="{!employNew}" styleClass="buttoncolorIrAlPerfil">
                                        <apex:param assignTo="{!parametroModelorama}" value="{!model[0].z019__c}" name="parametroModelorama"/>
                               </apex:commandLink>
                                    </td>
                            </tr>
                        </table>
                     			<script type="text/javascript">
                                
                                    function disableOnSubmit(input) {
                                        var btn = input;
                                        setTimeout(function(){ 
                                            btn.disabled = 'disabled';
                                            // Use the Salesforce CSS style to make the button appear disabled
                                            btn.styleClass = 'buttoncolorIrAlPerfil';
                                            btn.value = "Guardando...";
                                        }, 0);
                                    }
                                    </script>
                        
                     </center>
                        
                  </apex:pageBlock>
                </apex:form>
            </div>
    </html>
    </apex:stylesheet>
</apex:page>