        /*GENERAL HEADER AND FOOTER*/
        #navGeneralHeader{
            position: relative;  
            min-height: 8px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            background-color:#072242 ;
            border-color: #072242;
            top: 0px;
            height:13%
        }

        .imageGeneralHeader{
            width:260px; 
            height:100px ;
            display: inline; 
            margin-left:auto; 
            margin-right:auto;
        }

        #navGeneralFooter{
            position: relative;  
            min-height: 8px;
            margin-bottom: 0px;
            border: 1px solid transparent;
            background-color:#072242 ; 
            border-color: #072242;
            top: 100%;
            height:13%
        }

        .imageGeneralFooter{
            width:125px; 
            height:50px ;
            display: inline; 
            margin-left:auto; 
            margin-right:auto;
        }



        /*BUSINESSMAN_SURVEY*/
        
        #nombresEtiquetasStyleBS {
        color: rgb(123, 142, 154);
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        font-family: font-family: Exo;
        }

        #nombresEtiquetasStyleSurveyTitle {

        font-weight: bold;
        text-transform: uppercase;
        line-height: 22px;
        font-size: 18px;
        font-style: normal;
        word-wrap: break-word;
        display: block;
        font-family: font-family: Exo;
        }

        #nombresEtiquetasStyleNewEmploy {
        color: rgb(123, 142, 154);
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        text-indent: 9%;
        }
        
        #nombresEtiquetasStyleSurvey {
        color: #2652d4;
        display: block;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        }
        
        body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fafaf7;
        }
        .form-control {
        display: block;
        width: 80%;
        height: 80%;
        font-size: 14px;
        line-height: 1.42857;
        color: rgb(85, 85, 85);
        background-color: rgb(255, 255, 255);
        background-image: none;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
        padding: 6px 12px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }

        .form-controlPickListEmpleado {
        display: block;
        width: 87%;
        height: 80%;
        font-size: 14px;
        line-height: 1.42857;
        color: rgb(85, 85, 85);
        background-color: rgb(255, 255, 255);
        background-image: none;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
        padding: 6px 12px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }

        .form-controlEmpleado {
        display: block;
        width: 80%;
        height: 80%;
        font-size: 14px;
        line-height: 1.42857;
        color: rgb(85, 85, 85);
        background-color: rgb(255, 255, 255);
        background-image: none;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
        padding: 6px 12px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }

        .form-controlEmpleadoPickList {
        display: block;
        width: 84%;
        height: 84%;
        font-size: 14px;
        line-height: 1.42857;
        color: rgb(85, 85, 85);
        background-color: rgb(255, 255, 255);
        background-image: none;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
        padding: 6px 12px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }

        .form-controlEnterpriseProfilePickList {
        display: block;
        width: 87%;
        height: 80%;
        font-size: 14px;
        line-height: 1.42857;
        color: rgb(85, 85, 85);
        background-color: rgb(255, 255, 255);
        background-image: none;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
        padding: 6px 12px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }
        
        .buttoncolor {
        text-decoration: none;
        padding: 15px 22px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        background-color: #294f98;
        border-radius: 4px;
        border: 1px solid #294f98; 
        float:right;       
        }

        .buttoncolor:hover {
        background-color: #0A0A2A !important;
        background: none;
        }

        .buttoncolorEnterProf {
        text-decoration: none;
        padding: 15px 22px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        background-color: #294f98;
        border-radius: 4px;
        border: 1px solid #294f98; 
        float:right;       
        }

        .buttoncolorEnterProf:hover {
        background-color: #0A0A2A !important;
        background: none;
        }

        .buttoncolorLogin {
        text-decoration: none;
        padding: 6px 12px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        background-color: #0A0A2A;
        border-radius: 4px;
        border: 1px solid #0A0A2A;     
        }
        .buttoncolorLogin:hover {
        background-color: #294f98 !important;
        background: none;
        }

        .buttoncolor35 {
        text-decoration: none;
        padding: 6px 12px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        background-color: #0A0A2A;
        border-radius: 4px;
        border: 1px solid #0A0A2A;
        margin-left: 25%; 

        }
        .buttoncolor35:hover {
        background-color: #294f98 !important;
        background: none;
        }

        .buttoncolorDelete {
        
        background-color: #cc0000;
        border-radius: 4px;
        border: 1px solid #cc0000;  
        text-decoration: none;
        padding: 15px 22px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        float:right;
        margin: 5px;
        position: relative;
        font-family: font-family: Exo; 
        }
        
        .buttoncolorDelete:hover {
        background-color: #800000 !important;
        background: none;
        }
        
        
        .buttoncolorSurvey {
        text-decoration: none;
        padding: 15px 22px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        background-color: #294f98;
        border-radius: 4px;
        border: 1px solid #294f98;  
        float: right; 
        padding: 6px 12px;      
        }
        
        .buttoncolorSurvey:hover {
        background-color: #0A0A2A !important;
        background: none;
        }

        .lastEmploy{
            width: 30%; 
            padding: 20px 20px; 
            border-radius: 4px; 
            line-height: 1  .42857;
        }

        body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fafaf7;
        margin:0;
        }

        #bs1{
            background-color: #f5f5f5;
            width:70% ;
            height:auto;
        }

        #bs2{
            font-size: 22px; 
            color:#072242
        }

        #bs3{
            12px; 
            font-family: font-family: Exo;
            font-weight: bold; 
            color: #2652d4
        }

        #table1{
            margin-left: auto; 
            margin-right: auto;
            float: center;
            background-color: #f5f5f5;
            height: auto;
            width: 70%;
        }

        #td1{
            color: #294f98;
            font-weight: bold;
            font-style: italic;
            text-transform: uppercase; 
            font-size: 27px;
            line-height: 30px;
            font-family: font-family: Exo;
        }

        #tdBM2{
            color: #747575;
            font-size: 20px;
            font-family: font-family: Exo;
            text-align:justify
        }

        #tableBM2{
            margin-left: auto; 
            margin-right: auto;
            float: center;
            background-color: #f5f5f5;
            font-family: font-family: Exo;
            font-size: 16;
            height: auto;
            width: 80%;
        }

        #tdBM3{
            width: 40%;
            text-align:left;
        }

        .inputsFields{
            display: inline-block; 
            margin: 0% 0% 0% 4%;
            height: auto;
            width: 50%;
        }

        /*ENTERPRISEPERSONALDATAFORM*/

        
        #nombresEtiquetasStyle {
        color: rgb(123, 142, 154);
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        text-indent: 1.5%;
        }
        
        body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fafaf7;
        }
    
        .form-control {
        display: block;
        width: 80%;
        height: 80%;
        font-size: 14px;
        line-height: 1.42857;
        color: rgb(85, 85, 85);
        background-color: rgb(255, 255, 255);
        background-image: none;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
        padding: 6px 12px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }

        .form-control-NewMdrm {
        display: block;
        width: 50%;
        height: 80%;
        font-size: 14px;
        line-height: 1.42857;
        color: rgb(85, 85, 85);
        background-color: rgb(255, 255, 255);
        background-image: none;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
        padding: 6px 12px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        margin-left: 5px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }

        .form-label {
        color: black;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        font-family: font-family: Exo;
        text-indent: 1.5%; 
        }

        .form-labelMdrm {
        font-size: 16px;
        padding: 10px 15px;
        position: relative;
        font-family: font-family: Exo;
        float: left;
        }

        .form-labelMdrmEmpleado {
        font-size: 16px;
        padding: 10px 2px;
        position: relative;
        font-family: font-family: Exo;
        float: left;
        }

        .form-labelError {
        color: red;
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 450;
        font-family: font-family: Exo;
            
        }
        
        .buttoncolorEmployMdrm {
        text-decoration: none;
        padding: 15px 22px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        background-color: #294f98;
        border-radius: 4px;
        border: 1px solid #294f98;
        float:right; 
        margin: 5px;

        }
        
        .buttoncolorEmployMdrm:hover {
        background-color: #0A0A2A !important;
        background: none;
        }
        
         .buttoncolor2 {
        text-decoration: none;
        padding: 11px 22px;
        font-weight: 400;
        color: #ffffff;
        background-color: #294f98;
        border-radius: 4px;
        border: 1px solid #294f98;
        float:right;
        margin:5px;
        font-size: 14px;
        position: relative;
        font-family: font-family: Exo;

        }
        
        .buttoncolor2:hover {
        background-color: #0A0A2A !important;
        background: none;
        }

         .buttoncolorEsTuyo {
        text-decoration: none;
        padding: 15px 22px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        background-color: #294f98;
        border-radius: 4px;
        border: 1px solid #294f98;
        float:right;
        margin: 5px;
        }

        .buttoncolorIrAlPerfil {
        text-decoration: none;
        padding: 15px 22px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        background-color: #294f98;
        border-radius: 4px;
        border: 1px solid #294f98;
        float:center;
        margin: 5px;
        }
        
        .buttoncolorEsTuyo:hover {
        background-color: #0A0A2A !important;
        background: none;
        }
        
        #table1{
            margin-left: auto; 
            margin-right: auto;
            float: center;
            background-color: #f5f5f5;
            height: auto; 
            width: 70%;
        }

        #td1{
            color: #294f98;
            font-weight: bold;
            font-style: italic;
            text-transform: uppercase; 
            font-size: 27px;
            line-height: 30px;
            font-family: font-family: Exo;
        }

        #td2{
            color: #747575;
            font-size: 20px;
            font-family: font-family: Exo;
            text-align:justify
        }

        #div1{
            background-color: #f5f5f5;
            width:70% ;
            height:auto;
        }
        
        #table2{
            margin-left: auto; 
            margin-right: auto;
            float: center;
            background-color: #f5f5f5;
            font-family: font-family: Exo;
            height: auto;
            width:80%;
        }

        #td3{
            width: 40%;
            text-align:left;
        }
        
        /*ENTERPRISEFORM*/

        #nombresEtiquetasStyle {
            color: rgb(123, 142, 154);
            display: block;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            font-family: font-family: Exo;
        }
        
        body {
            font-family: Exo;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fafaf7;
        }
    
    .form-control {
            display: block;
            width: 80%;
            height: 80%;
            font-size: 14px;
            line-height: 1.42857;
            color: rgb(85, 85, 85);
            background-color: rgb(255, 255, 255);
            background-image: none;
            box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
            padding: 6px 12px;
            border-width: 2px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-image: initial;
            border-radius: 4px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }
        
        .buttoncolor {
            text-decoration: none;
            padding: 15px 22px;
            font-weight: 400;
            font-size: 14px;
            color: #ffffff;
            background-color: #294f98;
            border-radius: 4px;
            border: 1px solid #294f98;
        }
        
        .buttoncolor:hover {
            background-color: #0A0A2A !important;
            background: none;
        }

        #tableEF1{
            margin-left: auto; 
            margin-right: auto;
            float: center;
            background-color: #f5f5f5;
            height: auto;
            width: 70%;
        }

        #tdEF1{
            color: #294f98;
            font-weight: bold;
            font-style: italic;
            text-transform: uppercase; 
            font-size: 27px;
            line-height: 30px;
            font-family: font-family: Exo;
        }

        #tdEF2{
            color: #747575;
            font-size: 20px;
            font-family: font-family: Exo;
            text-align:justify
        }

        #divEF1{
            background-color: #f5f5f5;
            width:70% ;
            height:autofont-family: helvetica nue;
        }
        
        #tableEF2{
            margin-left: auto; 
            margin-right: auto;
            float: center;
            background-color: #f5f5f5;
            font-family: font-family: Exo;
            height: auto; 
            width:80%; 
        }

        #tdEF3{
            width: 40%;
            text-align:left;
        }

        #h2EF{
            font-family: font-family: Exo;
        }

        /*EMPLOY_MDRM*/

        #nombresEtiquetasStyle {
            color: rgb(123, 142, 154);
            display: block;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            font-family: font-family: Exo;
        }
        
        body {
            font-family: font-family: Exo;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fafaf7;
        }

    .form-control {
            display: block;
            width: 80%;
            height: 80%;
            font-size: 14px;
            line-height: 1.42857;
            color: rgb(85, 85, 85);
            background-color: rgb(255, 255, 255);
            background-image: none;
            box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
            padding: 6px 12px;
            border-width: 2px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-image: initial;
            border-radius: 4px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }
        
        .buttoncolor {
            text-decoration: none;
            padding: 15px 22px;
            font-weight: 400;
            font-size: 14px;
            color: #ffffff;
            background-color: #294f98;
            border-radius: 4px;
            border: 1px solid #294f98;
        }
        
        .buttoncolor:hover {
            background-color: #0A0A2A !important;
            background: none;
        }

        #tableMdrm1{
            margin-left: auto; 
            margin-right: auto;
            float: center;
            background-color: #f5f5f5;
            height: auto;
            width:70%;

        }

        #tdMdrm1{
            color: #294f98;
            font-weight: bold;
            font-style: italic;
            text-transform: uppercase; 
            font-size: 27px;
            line-height: 30px;
            font-family: font-family: Exo;

        }

        #tdMdrm2{
            color: #747575;
            font-size: 20px;
            font-family: font-family: Exo;
            text-align:justify
        }

        #divMdrm1{
            background-color: #f5f5f5;
            width:70% ;
            height:autofont-family: helvetica nue;
        }

        #tableMdrm2{
            margin-left: auto; 
            margin-right: auto;
            float: center;
            background-color: #f5f5f5;
            font-family: font-family: Exo;
            height: auto;
            width:80%;
        }

        #tdMdrm3{
            width: 40%;
            text-align:left
        }
        
        #h2Mdrm{
            font-family: font-family: Exo;
        }

        /*PROFILE*/

        #nombresEtiquetasStyle {
        color: rgb(123, 142, 154);
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        }
        
        body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fafaf7;
        margin:0;
        }

        .form-control {
        display: block;
        width: 80%;
        height: 80%;
        font-size: 14px;
        line-height: 1.42857;
        color: rgb(85, 85, 85);
        background-color: rgb(255, 255, 255);
        background-image: none;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
        padding: 6px 12px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }
        
        .form-title {
        font-weight: bold;
        text-transform: uppercase;
        font-family: font-family: Exo;
        line-height: 1.2;
        color: #515151;
        }

        .form-title-error {
        font-weight: normal;
        text-transform: uppercase;
        font-family: font-family: Exo;
        line-height: 1.2;
        color: #515151;
        }
        
        .buttoncolor210 {
        text-decoration: none;
        padding: 4px 13px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        background-color:#164c84;
        border-radius: 4px;
        border: 1px solid #164c84;       
        }
        
        .buttoncolor210:hover {
        background-color: #14467b !important;
        background: none;
        }

         .buttoncolor23 {
        text-decoration: none;
        padding: 10px 15px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        background-color: #294f98;
        border-radius: 4px;
        border: 1px solid #294f98;
        
        
        }
        
        .buttoncolor23:hover {
        background-color: #0A0A2A !important;
        background: none;
        }
        
        
        url(https://jackrugile.com/images/misc/noise-diagonal.png);
        color: #444;
        font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
        text-shadow: 0 1px 0 #fff;
        }
        
        strong {
        font-weight: bold; 
        }
        
        em {
        font-style: italic; 
        }
        
        #tableProfileForm {
        
        border-color: #072242;
        background: #f5f5f5;
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 12px;
        line-height: 24px;
        margin: 30px auto;
        text-align: left;
        width: 800px;
        border-radius: 2px;
        border-right: 1px solid #DCDCDC;
        border-left: 1px solid #DCDCDC;
        border-top: 1px solid #DCDCDC;
        border-bottom: 1px solid #DCDCDC;
        }   

        .tableProfileFormDinamic {
        border-color: #072242;
        background: #f5f5f5;
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 12px;
        line-height: 24px;
        margin: 30px auto;
        text-align: left;
        width: 800px;
        border-radius: 4px;

        }
        
        #thProfile {
        background: #14467b;
        border-left: 0px solid #555;
        border-right: 0px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;  
        }
        
        #thProfile:after {
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
        content: '';
        display: block;
        height: 25%;
        left: 0;
        margin: 1px 0 0 0;
        position: absolute;
        top: 25%;
        width: 100%;
        }
        
        #thProfile:first-child {
        border-left: 1px solid #777;    
        box-shadow: inset 1px 1px 0 #999;
        }
        
        #thProfile:last-child {
        box-shadow: inset -1px 1px 0 #999;
        }
        
        #tdProfile {
        padding: 10px 15px;
        position: relative;
        transition: all 300ms;
        width: 40%;
        font-family: font-family: Exo;
        border-bottom: 1px solid #e8e8e8;
        }

        #tdProfileModeloramasEmpleados {
        padding: 10px 15px;
        position: relative;
        transition: all 300ms;
        width: 40%;
        font-family: font-family: Exo;
        }
        
        #tdProfile:first-child {
        box-shadow: inset 1px 0 0 #e8e8e8;
        }   
        
        #tdProfile:last-child {
        box-shadow: inset -1px 0 0 #e8e8e8;
        }   
       
        #trProfile {
        background: url(https://jackrugile.com/images/misc/noise-diagonal.png); 
        border-right: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        }
        
        #trProfile:last-of-type td {
        box-shadow: inset 0 -1px 0 #fff; 
        }
        
        #trProfile:last-of-type td:first-child {
        box-shadow: inset 1px -1px 0 #fff;
        }   
        
        #trProfile:last-of-type td:last-child {
        box-shadow: inset -1px -1px 0 #fff;
        }   
        
        #tbodyProfile:hover td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
        }
        
        
        #tbodyProfile:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
        }        
        
        #tableProfile1{
            margin-left: auto; 
            margin-right: auto;
            margin-bottom: -30px;
            float: center;
            height:auto; 
            width:100%;
            border-color: #072242;
            background: #f5f5f5;
            box-shadow: inset 0 0px 0 #fff;
            font-size: 12px;
            line-height: 24px;
            text-align: left;
            width: 800px;
            border-radius: 2px;
            border-right: 1px solid #DCDCDC;
            border-left: 1px solid #DCDCDC;
            border-top: 1px solid #DCDCDC;
            border-bottom: 1px solid #DCDCDC;
        }

        .tableProfile11{
            margin-left: auto; 
            margin-right: auto;
            float: center;
            height:auto; 
            width:100%;
            border-color: #072242
            background: #f5f5f5;
            box-shadow: inset 0 1px 0 #fff;
            font-size: 12px;
            line-height: 24px;
            margin: 30px auto;
            text-align: left;
            width: 800px;
            border-radius: 4px;
        }

        #tableProfile2{
            margin-left: auto; 
            margin-right: auto;
            float: center;
            height:auto; 
            width:100%;
            border-color: #072242;
            background: #f5f5f5;
            box-shadow: inset 0 0px 0 #fff;
            font-size: 12px;
            line-height: 24px;
            margin: 30px auto;
            text-align: left;
            width: 800px;
        }

        #theadProfile1{
            background:#072242;
            height:20%;
        }

        #tdProfile1{
            color: #294f98;
            font-weight: bold;
            font-style: italic;
            text-transform: uppercase; 
            font-size: 27px;
            line-height: 30px;
            font-family: font-family: Exo;
            width:20%
        }

        .imageProfile{
            width 210px; 
            height:210px
        }

        #tdProfile2{
            width: 40%;
            text-align:left;
        }

        #trProfileModelo{
           background: #f5f5f5;
        }

        .tdProfileModelo{
        border-color: #072242;
        border-radius: 2px;
        border-right: 1px solid #DCDCDC;
        border-left: 1px solid #DCDCDC;
        border-top: 1px solid #DCDCDC;
        border-bottom: 1px solid #DCDCDC;
        }

        #tdProfileModelo{
        border-color: #072242;
        border-radius: 2px;
        border-right: 1px solid #DCDCDC;
        border-left: 1px solid #DCDCDC;
        border-top: 1px solid #DCDCDC;
        border-bottom: 1px solid #DCDCDC;
        }

        /*LOGIN*/

            
            #logintable-bd{  
            }
            
              
            #logintable{  
            
            left:30%;
            top: 35%;
            
            position: absolute;
            height: 200px; 
            width: 740px; 
            background-color: #ffffff; 
            border: 2px solid #dddddd;
            border-radius: 4px; 
            border-spacing:0;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            }
            
            
            #logintable_td2{
            border-color: #ddd
            height: 195px;
            width: 738px;
            border-bottom: .5px solid #dddddd;
            border-top: .5px solid #dddddd;
            border-left: .5px solid #dddddd;
            border-right: .5px solid #dddddd;
            background-color:#fafaf7;
            
            }
            
            #logintable_tr2{
            height: 200.82px; 
            padding: 15px; 
            width: 748.02px;
            }
            
            #logintable_td1{
            border-color: #ddd
            width: 738px;
            height: 30px;
            border-bottom: .5px solid #dddddd;
            border-top: .5px solid #dddddd;
            border-left: .5px solid #dddddd;
            border-right: .5px solid #dddddd;
            
            }
            
            #logintable_tr1{
            border-color: #ddd
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            }

            .DRV{
                width: 80%;  
                height: 35px;    
                border-width: 1px;  
                border-color: #ddd;
                border-radius: 4px;
            }

            .UEN{
                width: 80%;  
                height: 35px;    
                border-width: 1px;        
                border-color: #ddd;
                border-radius: 4px;
            }
            .Cliente{
                width: 65%;  
                height: 31px;    
                border-width: 1px;       
                border-color: #ddd;
                border-radius: 4px;
            }
            
            #divLogin{
                line-height:3.5;
                margin-left:20%
            }            

            .warning{ 
                color: red; 
                padding-left:20px; 
            }

            .errorMsg{
                color: #cc0000;
                text-transform: initial;
            }

            .messageText{
                color: #cc0000;
                text-transform: initial;
                margin-top: 50px;
            }

            