 td {
                vertical-align: top;
                border: 1px dotted #dcdcdc;
                border-spacing: 0;
                border-collapse: collapse;
                text-align:center;
}
 .headertable{
				font-family: Calibri #1a3160;
                font-weight:bold;
                background : #edeeef;
				vertical-align: center;
                border: 1px dotted #dcdcdc;
                border-spacing: 0;
				text-align:center;	
				padding-top: 10px;
}
