<apex:component >
	<apex:attribute name="message" description="The message to be displayed" type="String" required="true"/>
	<apex:attribute name="severity" description="The severity of the message" type="String" required="true"/>
	<apex:attribute name="objectName" description="The name of the object over which the action was made" type="String" required="true"/>
	<apex:attribute name="name" description="The name of the created record" type="String" required="true"/>
	<apex:attribute name="createdId" description="The Id of the created record" type="String" required="true"/>

	<script>
		var closeToast = function(){
			j$("#toastDiv").animate({
				opacity: '0'
			});
			j$("#toastDiv").css("display","none");
		}
	</script>
	<div id="toastDiv" class="slds-notify_container slds-is-relative" style="z-index: 1;">
		<div class="slds-notify slds-notify_toast slds-theme_{!severity}" role="alert">
			<span class="slds-assistive-text">{!severity}</span>
			<span class="slds-icon_container slds-icon-utility-{!severity} slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
				<svg class="slds-icon slds-icon_small" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#'+severity)}"></use>
				</svg>
			</span>
			<div class="slds-notify__content">
				<h2 class="slds-text-heading_small ">{!objectName}
					<a href="javascript:void(0);">{!name}</a> {!message}</h2>
				</div>
				<button type="button" class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" title="Close" onclick="closeToast();">
					<svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
					</svg>
					<span class="slds-assistive-text">Close</span>
				</button>
			</div>
		</div>
</apex:component>