<apex:component controller="ISSM_NewOrder_ctr">
	<apex:attribute name="PanelCustomerComments" description="Panel that is displayed when the current order (from OnTap) is not finished whith the SAP ID" type="String" required="false"/>
	<div ng-attr-style="display: {{BlnPanelCC}}" align="center">    
        <div class="demo-only" ng-attr-style="height: 640px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-label="Meaningful description of the modal content" class="slds-modal slds-slide-up-saving">
                <div class="slds-modal__container">
                    <header class="slds-modal__header slds-modal__header_empty"/>
                    <div class="slds-modal__content" id="modal-content-id-1">
                        <div class="slds-modal__container">         
                            <label class="slds-section-title--divider" for="CComents-id-04" ng-attr-style="text-align: center;font-weight: bold;">{!$Label.ISSM_CustomerComments}</label>             
                            <div class="slds-form-element__control">
                                <textarea id="CComents-id-03" rows="5" cols="80" name="comments3" class="slds-textarea" onclick="this.select();" ng-attr-style="resize:none" ng-model="strCustomerCommentsA">{{strCustomerCommentsA}}</textarea>
                            </div>
                        </div>     
                    </div>
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_brand" type="submit" ng-click="noOrderReason()">{!$Label.ISSM_Finish}</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </div>
</apex:component>