.THIS .red{
    color:red;
}
.THIS .slds-spinner_container  {
    background-color:#eff9fb;
	position: absolute;
	border: 2px solid;
}

.THIS .blockAccordion  {
	pointer-events: none;
	color:red;
}
.THIS .ActiveAccordion  {
	pointer-events: auto;

}