		@page {			
 			size: letter;
 			margin: 18mm;
 			@top-center {
 				content: element(header);
 			}

 			/*@bottom-center {
 				content: counter(page);
 			}*/

 			@bottom-center {
 				content: element(footer);
 			}

		}

		body, td {			
			font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
			font-size: 13px;
		}

		div.header{
            position: running(header);
        }

        div.footer{
            position: running(footer);
        }

        .noBreak{        	
        	page-break-inside: avoid;
        }
		.title_block{
			text-align: center;
			clear:both;
			padding-top: 10px;
		}
		.dtitle{
			font-size: 16px;
			height: 24px;
			background-color: rgb(217, 217, 217);
			font-weight: bold;			
		}
		.dsubtitle{
			font-size: 16px;
			height: 24px;
			background-color: rgb(242, 242, 242);
		}
		.dsubtitle2{
			font-size: 11px;
			height: 19px;
			background-color: rgb(242, 242, 242);
		}
		.dsubtitle3{
			font-size: 11px;
			height: 19px;
			background-color: rgb(242, 242, 242);
			font-weight: bold;
		}
		.dsubtitle4{
			font-size: 11px;
			height: 19px;			
			font-weight: bold;
		}
		.dcentertitle{			
			padding-top: 4px;
		}
		.dtitle2{
			font-size: 11px;
			height: 19px;
			background-color: rgb(217, 217, 217);
			font-weight: bold;			
		}
		.dTwoColumns{
			width: 50%; 
			float: left;
		}
		.image2columns{			
			width: 300px;
			margin: 5px 5px 5px 5px;
		}
		.imgFull{
			width: 500px;
		}